In [89]:
import pandas as pd
import os

In [3]:
os.listdir('/mnt/HC_Volume_18315164/home-jupyter/jupyter-i-kazantseva-40/shared/')
# принимает путь к папке и возвращает её содержимое в виде списка

['.ipynb_checkpoints',
 'ads_data.csv.zip',
 'analytics_interview',
 'hall_of_fame',
 'Res_Tree',
 'image_2022-04-21_13-38-49.png',
 'lesson_2_data.csv',
 'lesson_3_data.csv',
 'order_leads.csv',
 'problem1-reg_data.csv',
 'Untitled.ipynb',
 'conspect',
 'sales_team.csv',
 'karpovcourse',
 'problem2.csv',
 'problem1-auth_data.csv',
 '__pycache__',
 'dag_osilyutina_test.py',
 'homeworks',
 'invoices.csv']

In [2]:
folder_data = os.listdir('/mnt/HC_Volume_18315164/home-jupyter/jupyter-i-kazantseva-40/shared/Res_Tree/')
folder_data

['F000545', 'M000547', 'F000570', '.DS_Store']

In [10]:
for i in folder_data:
    if i.startswith('.'):
        continue
    print(i)

F000545
M000547
F000570

In [ ]:
#  str.endswith() - оканчивается на

In [22]:
# for i in folder_data:
#     if not i.startswith('.'):
#         print(i)

# [i for i in folder_data if not i.startswith('.')]
# отбор несистемных директорий

In [3]:
folder_data = [i for i in os.listdir('/mnt/HC_Volume_18315164/home-jupyter/jupyter-i-kazantseva-40/shared/Res_Tree/') if not i.startswith('.')]

In [4]:
folder_data

['F000545', 'M000547', 'F000570']

In [5]:
p = '/mnt/HC_Volume_18315164/home-jupyter/jupyter-i-kazantseva-40/shared/Res_Tree/F000545/res_2019.09.11_0.0_6493B6_Container-dat_2125_91-105-165_F000545/meals_list_2.txt'

In [16]:
meal_data = open(p).readlines()
meal_data

['-------------------------------------------------------\n',
 '-------------------------------------------------------\n',
 'Data log format: Descent DB log\n',
 '\n',
 '    \n',
 '  Intake Params check: INTAKE PARAMS DIFFER FROM THEIR DEFAULTS!!!\n',
 '  Power cycle emulation: disabled\n',
 '\n',
 '  Build Mode:   HB_ITS_ONLY\n',
 '-------------------------------------------------------\n',
 '\n',
 '\n',
 '--- Non-deleted saved meals -----------------------\n',
 ' Meal#;        Date; Start;   End; Flags;    E-IN;    Cbh;    Fat;    Pro;  S. tstamp; End tstamp; Minutes;  Recs; First;  Last;    Type; Frags;\n',
 '     0;  09.01.2020; 10:54; 12:33;  0x84;  247.41;  18.85;  13.58;  12.45; 1578556469; 1578562439;     100;   100;     1;   100; F3-Meal;\n',
 '     1;  09.01.2020; 12:42; 14:11;  0x84;  198.60;  17.00;  10.31;   9.45; 1578562921; 1578568288;      90;    94;   104;   197; F3-Meal;\n',
 '     2;  09.01.2020; 14:31; 16:41;  0x84;  320.71;  23.09;  18.03;  16.53; 1578569494; 1578577272;     130;   130;   217;   346; F3-Meal;\n',
 '     3;  09.01.2020; 16:57; 18:01;  0x84;  136.57;  12.71;   6.77;   6.20; 1578578237; 1578582096;      65;    65;   362;   426; F3-Meal;\n',
 '     4;  09.01.2020; 18:09; 19:46;  0x84;  193.10;  16.25;  10.11;   9.27; 1578582579; 1578588367;      97;    97;   434;   530; F3-Meal;\n',
 '     5;  09.01.2020; 20:43; 22:46;  0x84;  271.64;  19.42;  15.31;  14.04; 1578591804; 1578599161;     123;   103;   587;   689; F3-Meal;\n',
 '     6;  09.01.2020; 22:46; 00:14;  0x84;  171.02;  15.29;   8.67;   7.95; 1578599161; 1578604467;      89;   101;   689;   789; F3-Meal;\n',
 '-----------------------------------------------------\n',
 '\n',
 '--- All saved meals -------------------------------\n',
 "     there's no per-meal data\n",
 '-----------------------------------------------------\n',
 '\n',
 '--- Total per-file (0: by summaries, 1: by meals) -\n',
 'Tracking Start;      Last saved;             Idx.; Rec. ID;     Tstamp;     E-IN;  CBH_in;  FAT_in;  PRO_in;    E-OUT; CBH_out; FAT_out;   Steps; Distance; E-LOSS for phy\n',
 '09.01.2020 10:54:29; 09.01.2020 23:59:23;       0;       0; 1578614363;  1511.09;  120.11;   81.37;   74.59;     0.00;    0.00;    0.00;       0;        0;           0.00\n',
 '09.01.2020 10:54:29; 10.01.2020 00:14:27;       1;       0; 1578615267;  1511.09;  120.11;   81.37;   74.59;     0.00;    0.00;    0.00;       0;        0;           0.00\n',
 '-----------------------------------------------------\n',
 '\n',
 '--- Summary change history --------------------------\n',
 'Tracking Start;      Last saved;             Idx.; Rec. ID;     Tstamp;     E-IN;  CBH_in;  FAT_in;  PRO_in;    E-OUT; CBH_out; FAT_out;   Steps; Distance; E-LOSS for phy\n',
 '09.01.2020 10:54:29; 09.01.2020 23:59:23;       0;       0; 1578614363;  1511.09;  120.11;   81.37;   74.59;     0.00;    0.00;    0.00;       0;        0;           0.00\n',
 '-----------------------------------------------------\n',
 '-------------------------------------------------------\n',
 '-------------------------------------------------------\n',
 'Data log format: Descent DB log\n',
 '\n',
 '   \n',
 '\n',
 '  Intake Params check: INTAKE PARAMS DIFFER FROM THEIR DEFAULTS!!!\n',
 '  Power cycle emulation: disabled\n',
 '\n',
 '  Build Mode:   HB_ITS_ONLY\n',
 '-------------------------------------------------------\n',
 '\n',
 '--- Non-deleted saved meals -----------------------\n',
 ' Meal#;        Date; Start;   End; Flags;    E-IN;    Cbh;    Fat;    Pro;  S. tstamp; End tstamp; Minutes;  Recs; First;  Last;    Type; Frags;\n',
 '     0;  09.01.2020; 22:46; 00:14;  0x84;  171.02;  15.29;   8.67;   7.95; 1578599161; 1578604467;      89;   101;   689;   789; F3-Meal;\n',
 '     1;  10.01.2020; 01:22; 04:41;  0x84;  359.83;  29.25;  19.17;  17.57; 1578608567; 1578620506;     199;   203;   861;  1063; F3-Meal;\n',
 '     2;  10.01.2020; 14:26; 15:48;  0x84;  167.74;  15.08;   8.48;   7.78; 1578655600; 1578660484;      82;    82;  1645;  1726; F3-Meal;\n',
 '     3;  10.01.2020; 18:51; 19:58;  0x84;  171.56;  15.31;   8.71;   7.98; 1578671519; 1578675499;      67;    74;  1902;  1975; F3-Meal;\n',
 '     4;  10.01.2020; 20:18; 21:31;  0x84;  149.40;  13.58;   7.51;   6.88; 1578676705; 1578681107;      74;    70;  1995;  2064; F3-Meal;\n',
 '     5;  10.01.2020; 21:31; 23:07;  0x84;  190.85;  15.36;  10.22;   9.36; 1578681107; 1578686835;      96;   100;  2064;  2163; F3-Meal;\n',
 '     6;  10.01.2020; 23:07; 01:16;  0x84;  308.65;  23.68;  16.89;  15.48; 1578686835; 1578694613;     130;   127;  2163;  2289; F3-Meal;\n',
 '-----------------------------------------------------\n',
 '\n',
 '--- All saved meals -------------------------------\n',
 "     there's no per-meal data\n",
 '-----------------------------------------------------\n',
 '\n',
 '--- Total per-file (0: by summaries, 1: by meals) -\n',
 'Tracking Start;      Last saved;             Idx.; Rec. ID;     Tstamp;     E-IN;  CBH_in;  FAT_in;  PRO_in;    E-OUT; CBH_out; FAT_out;   Steps; Distance; E-LOSS for phy\n',
 '10.01.2020 00:00:23; 10.01.2020 23:59:30;       0;       0; 1578700770;  1192.92;  100.71;   62.37;   57.18;     0.00;    0.00;    0.00;       0;        0;           0.00\n',
 '10.01.2020 01:22:47; 11.01.2020 01:16:53;       1;       0; 1578705413;  1192.92;  100.71;   62.37;   57.18;     0.00;    0.00;    0.00;       0;        0;           0.00\n',
 '-----------------------------------------------------\n',
 '\n',
 '--- Summary change history --------------------------\n',
 'Tracking Start;      Last saved;             Idx.; Rec. ID;     Tstamp;     E-IN;  CBH_in;  FAT_in;  PRO_in;    E-OUT; CBH_out; FAT_out;   Steps; Distance; E-LOSS for phy\n',
 '10.01.2020 00:00:23; 10.01.2020 23:59:30;       0;       0; 1578700770;  1192.92;  100.71;   62.37;   57.18;     0.00;    0.00;    0.00;       0;        0;           0.00\n',
 '-----------------------------------------------------\n',
 '-------------------------------------------------------\n',
 '-------------------------------------------------------\n',
 'Data log format: Descent DB log\n',
 '\n',
 '    \n',
 '  Intake Params check: INTAKE PARAMS DIFFER FROM THEIR DEFAULTS!!!\n',
 '  Power cycle emulation: disabled\n',
 '\n',
 '  Build Mode:   HB_ITS_ONLY\n',
 '-------------------------------------------------------\n',
 '\n',
 '\n',
 '--- Non-deleted saved meals -----------------------\n',
 ' Meal#;        Date; Start;   End; Flags;    E-IN;    Cbh;    Fat;    Pro;  S. tstamp; End tstamp; Minutes;  Recs; First;  Last;    Type; Frags;\n',
 '     0;  10.01.2020; 23:07; 01:16;  0x84;  308.65;  23.68;  16.89;  15.48; 1578686835; 1578694613;     130;   127;  2163;  2289; F3-Meal;\n',
 '     1;  11.01.2020; 02:18; 03:00;  0x84;   51.46;   6.83;   1.91;   1.75; 1578698292; 1578700824;      43;    43;  2353;  2395; F3-Meal;\n',
 '     2;  11.01.2020; 12:27; 15:10;  0x84;  404.28;  30.04;  22.43;  20.56; 1578734851; 1578744619;     163;   163;  2959;  3121; F3-Meal;\n',
 '     3;  11.01.2020; 15:10; 17:57;  0x84;  430.73;  35.89;  22.67;  20.78; 1578744619; 1578754629;     167;   167;  3121;  3287; F3-Meal;\n',
 '     4;  11.01.2020; 17:57; 19:24;  0x84;  210.59;  17.07;  11.24;  10.30; 1578754629; 1578759875;      88;    83;  3287;  3369; F3-Meal;\n',
 '     5;  11.01.2020; 19:24; 21:14;  0x84;  253.52;  19.21;  13.95;  12.79; 1578759875; 1578766447;     110;    87;  3369;  3455; F3-Meal;\n',
 '     6;  11.01.2020; 21:14; 00:13;  0x84;  427.87;  32.43;  23.54;  21.58; 1578766447; 1578777180;     179;   203;  3455;  3657; F3-Meal;\n',
 '-----------------------------------------------------\n',
 '\n',
 '--- All saved meals -------------------------------\n',
 "     there's no per-meal data\n",
 '-----------------------------------------------------\n',
 '\n',
 '--- Total per-file (0: by summaries, 1: by meals) -\n',
 'Tracking Start;      Last saved;             Idx.; Rec. ID;     Tstamp;     E-IN;  CBH_in;  FAT_in;  PRO_in;    E-OUT; CBH_out; FAT_out;   Steps; Distance; E-LOSS for phy\n',
 '11.01.2020 00:00:31; 11.01.2020 23:59:57;       0;       0; 1578787197;  1930.42;  153.15;  104.04;   95.37;     0.00;    0.00;    0.00;       0;        0;           0.00\n',
 '11.01.2020 02:18:12; 12.01.2020 00:13:00;       1;       0; 1578787980;  1930.42;  153.15;  104.04;   95.37;     0.00;    0.00;    0.00;       0;        0;           0.00\n',
 '-----------------------------------------------------\n',
 '\n',
 '--- Summary change history --------------------------\n',
 'Tracking Start;      Last saved;             Idx.; Rec. ID;     Tstamp;     E-IN;  CBH_in;  FAT_in;  PRO_in;    E-OUT; CBH_out; FAT_out;   Steps; Distance; E-LOSS for phy\n',
 '11.01.2020 00:00:31; 11.01.2020 23:59:57;       0;       0; 1578787197;  1930.42;  153.15;  104.04;   95.37;     0.00;    0.00;    0.00;       0;        0;           0.00\n',
 '-----------------------------------------------------\n']

In [25]:
for i in open(p).readlines():
     print(i)

-------------------------------------------------------

-------------------------------------------------------

Data log format: Descent DB log





  Intake Params check: INTAKE PARAMS DIFFER FROM THEIR DEFAULTS!!!

  Power cycle emulation: disabled



  Build Mode:   HB_ITS_ONLY

-------------------------------------------------------





--- Non-deleted saved meals -----------------------

 Meal#;        Date; Start;   End; Flags;    E-IN;    Cbh;    Fat;    Pro;  S. tstamp; End tstamp; Minutes;  Recs; First;  Last;    Type; Frags;

     0;  09.01.2020; 10:54; 12:33;  0x84;  247.41;  18.85;  13.58;  12.45; 1578556469; 1578562439;     100;   100;     1;   100; F3-Meal;

     1;  09.01.2020; 12:42; 14:11;  0x84;  198.60;  17.00;  10.31;   9.45; 1578562921; 1578568288;      90;    94;   104;   197; F3-Meal;

     2;  09.01.2020; 14:31; 16:41;  0x84;  320.71;  23.09;  18.03;  16.53; 1578569494; 1578577272;     130;   130;   217;   346; F3-Meal;

     3;  09.01.2020; 16:57; 18:01;  0x84;  136.57;  12.71;   6.77;   6.20; 1578578237; 1578582096;      65;    65;   362;   426; F3-Meal;

     4;  09.01.2020; 18:09; 19:46;  0x84;  193.10;  16.25;  10.11;   9.27; 1578582579; 1578588367;      97;    97;   434;   530; F3-Meal;

     5;  09.01.2020; 20:43; 22:46;  0x84;  271.64;  19.42;  15.31;  14.04; 1578591804; 1578599161;     123;   103;   587;   689; F3-Meal;

     6;  09.01.2020; 22:46; 00:14;  0x84;  171.02;  15.29;   8.67;   7.95; 1578599161; 1578604467;      89;   101;   689;   789; F3-Meal;

-----------------------------------------------------



--- All saved meals -------------------------------

     there's no per-meal data

-----------------------------------------------------



--- Total per-file (0: by summaries, 1: by meals) -

Tracking Start;      Last saved;             Idx.; Rec. ID;     Tstamp;     E-IN;  CBH_in;  FAT_in;  PRO_in;    E-OUT; CBH_out; FAT_out;   Steps; Distance; E-LOSS for phy

09.01.2020 10:54:29; 09.01.2020 23:59:23;       0;       0; 1578614363;  1511.09;  120.11;   81.37;   74.59;     0.00;    0.00;    0.00;       0;        0;           0.00

09.01.2020 10:54:29; 10.01.2020 00:14:27;       1;       0; 1578615267;  1511.09;  120.11;   81.37;   74.59;     0.00;    0.00;    0.00;       0;        0;           0.00

-----------------------------------------------------



--- Summary change history --------------------------

Tracking Start;      Last saved;             Idx.; Rec. ID;     Tstamp;     E-IN;  CBH_in;  FAT_in;  PRO_in;    E-OUT; CBH_out; FAT_out;   Steps; Distance; E-LOSS for phy

09.01.2020 10:54:29; 09.01.2020 23:59:23;       0;       0; 1578614363;  1511.09;  120.11;   81.37;   74.59;     0.00;    0.00;    0.00;       0;        0;           0.00

-----------------------------------------------------

-------------------------------------------------------

-------------------------------------------------------

Data log format: Descent DB log







  Intake Params check: INTAKE PARAMS DIFFER FROM THEIR DEFAULTS!!!

  Power cycle emulation: disabled



  Build Mode:   HB_ITS_ONLY

-------------------------------------------------------



--- Non-deleted saved meals -----------------------

 Meal#;        Date; Start;   End; Flags;    E-IN;    Cbh;    Fat;    Pro;  S. tstamp; End tstamp; Minutes;  Recs; First;  Last;    Type; Frags;

     0;  09.01.2020; 22:46; 00:14;  0x84;  171.02;  15.29;   8.67;   7.95; 1578599161; 1578604467;      89;   101;   689;   789; F3-Meal;

     1;  10.01.2020; 01:22; 04:41;  0x84;  359.83;  29.25;  19.17;  17.57; 1578608567; 1578620506;     199;   203;   861;  1063; F3-Meal;

     2;  10.01.2020; 14:26; 15:48;  0x84;  167.74;  15.08;   8.48;   7.78; 1578655600; 1578660484;      82;    82;  1645;  1726; F3-Meal;

     3;  10.01.2020; 18:51; 19:58;  0x84;  171.56;  15.31;   8.71;   7.98; 1578671519; 1578675499;      67;    74;  1902;  1975; F3-Meal;

     4;  10.01.2020; 20:18; 21:31;  0x84;  149.40;  13.58;   7.51;   6.88; 1578676705; 1578681107;      74;    70;  1995;  2064; F3-Meal;

     5;  10.01.2020; 21:31; 23:07;  0x84;  190.85;  15.36;  10.22;   9.36; 1578681107; 1578686835;      96;   100;  2064;  2163; F3-Meal;

     6;  10.01.2020; 23:07; 01:16;  0x84;  308.65;  23.68;  16.89;  15.48; 1578686835; 1578694613;     130;   127;  2163;  2289; F3-Meal;

-----------------------------------------------------



--- All saved meals -------------------------------

     there's no per-meal data

-----------------------------------------------------



--- Total per-file (0: by summaries, 1: by meals) -

Tracking Start;      Last saved;             Idx.; Rec. ID;     Tstamp;     E-IN;  CBH_in;  FAT_in;  PRO_in;    E-OUT; CBH_out; FAT_out;   Steps; Distance; E-LOSS for phy

10.01.2020 00:00:23; 10.01.2020 23:59:30;       0;       0; 1578700770;  1192.92;  100.71;   62.37;   57.18;     0.00;    0.00;    0.00;       0;        0;           0.00

10.01.2020 01:22:47; 11.01.2020 01:16:53;       1;       0; 1578705413;  1192.92;  100.71;   62.37;   57.18;     0.00;    0.00;    0.00;       0;        0;           0.00

-----------------------------------------------------



--- Summary change history --------------------------

Tracking Start;      Last saved;             Idx.; Rec. ID;     Tstamp;     E-IN;  CBH_in;  FAT_in;  PRO_in;    E-OUT; CBH_out; FAT_out;   Steps; Distance; E-LOSS for phy

10.01.2020 00:00:23; 10.01.2020 23:59:30;       0;       0; 1578700770;  1192.92;  100.71;   62.37;   57.18;     0.00;    0.00;    0.00;       0;        0;           0.00

-----------------------------------------------------

-------------------------------------------------------

-------------------------------------------------------

Data log format: Descent DB log





  Intake Params check: INTAKE PARAMS DIFFER FROM THEIR DEFAULTS!!!

  Power cycle emulation: disabled



  Build Mode:   HB_ITS_ONLY

-------------------------------------------------------





--- Non-deleted saved meals -----------------------

 Meal#;        Date; Start;   End; Flags;    E-IN;    Cbh;    Fat;    Pro;  S. tstamp; End tstamp; Minutes;  Recs; First;  Last;    Type; Frags;

     0;  10.01.2020; 23:07; 01:16;  0x84;  308.65;  23.68;  16.89;  15.48; 1578686835; 1578694613;     130;   127;  2163;  2289; F3-Meal;

     1;  11.01.2020; 02:18; 03:00;  0x84;   51.46;   6.83;   1.91;   1.75; 1578698292; 1578700824;      43;    43;  2353;  2395; F3-Meal;

     2;  11.01.2020; 12:27; 15:10;  0x84;  404.28;  30.04;  22.43;  20.56; 1578734851; 1578744619;     163;   163;  2959;  3121; F3-Meal;

     3;  11.01.2020; 15:10; 17:57;  0x84;  430.73;  35.89;  22.67;  20.78; 1578744619; 1578754629;     167;   167;  3121;  3287; F3-Meal;

     4;  11.01.2020; 17:57; 19:24;  0x84;  210.59;  17.07;  11.24;  10.30; 1578754629; 1578759875;      88;    83;  3287;  3369; F3-Meal;

     5;  11.01.2020; 19:24; 21:14;  0x84;  253.52;  19.21;  13.95;  12.79; 1578759875; 1578766447;     110;    87;  3369;  3455; F3-Meal;

     6;  11.01.2020; 21:14; 00:13;  0x84;  427.87;  32.43;  23.54;  21.58; 1578766447; 1578777180;     179;   203;  3455;  3657; F3-Meal;

-----------------------------------------------------



--- All saved meals -------------------------------

     there's no per-meal data

-----------------------------------------------------



--- Total per-file (0: by summaries, 1: by meals) -

Tracking Start;      Last saved;             Idx.; Rec. ID;     Tstamp;     E-IN;  CBH_in;  FAT_in;  PRO_in;    E-OUT; CBH_out; FAT_out;   Steps; Distance; E-LOSS for phy

11.01.2020 00:00:31; 11.01.2020 23:59:57;       0;       0; 1578787197;  1930.42;  153.15;  104.04;   95.37;     0.00;    0.00;    0.00;       0;        0;           0.00

11.01.2020 02:18:12; 12.01.2020 00:13:00;       1;       0; 1578787980;  1930.42;  153.15;  104.04;   95.37;     0.00;    0.00;    0.00;       0;        0;           0.00

-----------------------------------------------------



--- Summary change history --------------------------

Tracking Start;      Last saved;             Idx.; Rec. ID;     Tstamp;     E-IN;  CBH_in;  FAT_in;  PRO_in;    E-OUT; CBH_out; FAT_out;   Steps; Distance; E-LOSS for phy

11.01.2020 00:00:31; 11.01.2020 23:59:57;       0;       0; 1578787197;  1930.42;  153.15;  104.04;   95.37;     0.00;    0.00;    0.00;       0;        0;           0.00

-----------------------------------------------------

In [28]:
x = ['1', '2', 'start', '3', '4', 'end', '5', '6', 'start', '7', '8', 'end']
scanning = False
for i in x:
     if i == 'end':
         scanning = False
         continue    
    
     if scanning:
         print(i)
    
    
     if i == 'start':
         scanning = True
         continue

3
4
7
8

In [17]:
scanning = False
for i in meal_data:
     if i.startswith('-------------'):
         scanning = False
         continue    
    
     if scanning:
         print(i)
    
    
     if 'Non-deleted saved meals' in i:
         scanning = True
         continue

 Meal#;        Date; Start;   End; Flags;    E-IN;    Cbh;    Fat;    Pro;  S. tstamp; End tstamp; Minutes;  Recs; First;  Last;    Type; Frags;

     0;  09.01.2020; 10:54; 12:33;  0x84;  247.41;  18.85;  13.58;  12.45; 1578556469; 1578562439;     100;   100;     1;   100; F3-Meal;

     1;  09.01.2020; 12:42; 14:11;  0x84;  198.60;  17.00;  10.31;   9.45; 1578562921; 1578568288;      90;    94;   104;   197; F3-Meal;

     2;  09.01.2020; 14:31; 16:41;  0x84;  320.71;  23.09;  18.03;  16.53; 1578569494; 1578577272;     130;   130;   217;   346; F3-Meal;

     3;  09.01.2020; 16:57; 18:01;  0x84;  136.57;  12.71;   6.77;   6.20; 1578578237; 1578582096;      65;    65;   362;   426; F3-Meal;

     4;  09.01.2020; 18:09; 19:46;  0x84;  193.10;  16.25;  10.11;   9.27; 1578582579; 1578588367;      97;    97;   434;   530; F3-Meal;

     5;  09.01.2020; 20:43; 22:46;  0x84;  271.64;  19.42;  15.31;  14.04; 1578591804; 1578599161;     123;   103;   587;   689; F3-Meal;

     6;  09.01.2020; 22:46; 00:14;  0x84;  171.02;  15.29;   8.67;   7.95; 1578599161; 1578604467;      89;   101;   689;   789; F3-Meal;

 Meal#;        Date; Start;   End; Flags;    E-IN;    Cbh;    Fat;    Pro;  S. tstamp; End tstamp; Minutes;  Recs; First;  Last;    Type; Frags;

     0;  09.01.2020; 22:46; 00:14;  0x84;  171.02;  15.29;   8.67;   7.95; 1578599161; 1578604467;      89;   101;   689;   789; F3-Meal;

     1;  10.01.2020; 01:22; 04:41;  0x84;  359.83;  29.25;  19.17;  17.57; 1578608567; 1578620506;     199;   203;   861;  1063; F3-Meal;

     2;  10.01.2020; 14:26; 15:48;  0x84;  167.74;  15.08;   8.48;   7.78; 1578655600; 1578660484;      82;    82;  1645;  1726; F3-Meal;

     3;  10.01.2020; 18:51; 19:58;  0x84;  171.56;  15.31;   8.71;   7.98; 1578671519; 1578675499;      67;    74;  1902;  1975; F3-Meal;

     4;  10.01.2020; 20:18; 21:31;  0x84;  149.40;  13.58;   7.51;   6.88; 1578676705; 1578681107;      74;    70;  1995;  2064; F3-Meal;

     5;  10.01.2020; 21:31; 23:07;  0x84;  190.85;  15.36;  10.22;   9.36; 1578681107; 1578686835;      96;   100;  2064;  2163; F3-Meal;

     6;  10.01.2020; 23:07; 01:16;  0x84;  308.65;  23.68;  16.89;  15.48; 1578686835; 1578694613;     130;   127;  2163;  2289; F3-Meal;

 Meal#;        Date; Start;   End; Flags;    E-IN;    Cbh;    Fat;    Pro;  S. tstamp; End tstamp; Minutes;  Recs; First;  Last;    Type; Frags;

     0;  10.01.2020; 23:07; 01:16;  0x84;  308.65;  23.68;  16.89;  15.48; 1578686835; 1578694613;     130;   127;  2163;  2289; F3-Meal;

     1;  11.01.2020; 02:18; 03:00;  0x84;   51.46;   6.83;   1.91;   1.75; 1578698292; 1578700824;      43;    43;  2353;  2395; F3-Meal;

     2;  11.01.2020; 12:27; 15:10;  0x84;  404.28;  30.04;  22.43;  20.56; 1578734851; 1578744619;     163;   163;  2959;  3121; F3-Meal;

     3;  11.01.2020; 15:10; 17:57;  0x84;  430.73;  35.89;  22.67;  20.78; 1578744619; 1578754629;     167;   167;  3121;  3287; F3-Meal;

     4;  11.01.2020; 17:57; 19:24;  0x84;  210.59;  17.07;  11.24;  10.30; 1578754629; 1578759875;      88;    83;  3287;  3369; F3-Meal;

     5;  11.01.2020; 19:24; 21:14;  0x84;  253.52;  19.21;  13.95;  12.79; 1578759875; 1578766447;     110;    87;  3369;  3455; F3-Meal;

     6;  11.01.2020; 21:14; 00:13;  0x84;  427.87;  32.43;  23.54;  21.58; 1578766447; 1578777180;     179;   203;  3455;  3657; F3-Meal;

In [18]:
scanning = False
for i in meal_data:
    if i.startswith('-------------'):
        scanning = False
        continue    
        
    if scanning:
        if 'Meal#;' in i:
            col_name = i
            continue
        print(i)               
    
    if 'Non-deleted saved meals' in i:
        scanning = True
        continue

     0;  09.01.2020; 10:54; 12:33;  0x84;  247.41;  18.85;  13.58;  12.45; 1578556469; 1578562439;     100;   100;     1;   100; F3-Meal;

     1;  09.01.2020; 12:42; 14:11;  0x84;  198.60;  17.00;  10.31;   9.45; 1578562921; 1578568288;      90;    94;   104;   197; F3-Meal;

     2;  09.01.2020; 14:31; 16:41;  0x84;  320.71;  23.09;  18.03;  16.53; 1578569494; 1578577272;     130;   130;   217;   346; F3-Meal;

     3;  09.01.2020; 16:57; 18:01;  0x84;  136.57;  12.71;   6.77;   6.20; 1578578237; 1578582096;      65;    65;   362;   426; F3-Meal;

     4;  09.01.2020; 18:09; 19:46;  0x84;  193.10;  16.25;  10.11;   9.27; 1578582579; 1578588367;      97;    97;   434;   530; F3-Meal;

     5;  09.01.2020; 20:43; 22:46;  0x84;  271.64;  19.42;  15.31;  14.04; 1578591804; 1578599161;     123;   103;   587;   689; F3-Meal;

     6;  09.01.2020; 22:46; 00:14;  0x84;  171.02;  15.29;   8.67;   7.95; 1578599161; 1578604467;      89;   101;   689;   789; F3-Meal;

     0;  09.01.2020; 22:46; 00:14;  0x84;  171.02;  15.29;   8.67;   7.95; 1578599161; 1578604467;      89;   101;   689;   789; F3-Meal;

     1;  10.01.2020; 01:22; 04:41;  0x84;  359.83;  29.25;  19.17;  17.57; 1578608567; 1578620506;     199;   203;   861;  1063; F3-Meal;

     2;  10.01.2020; 14:26; 15:48;  0x84;  167.74;  15.08;   8.48;   7.78; 1578655600; 1578660484;      82;    82;  1645;  1726; F3-Meal;

     3;  10.01.2020; 18:51; 19:58;  0x84;  171.56;  15.31;   8.71;   7.98; 1578671519; 1578675499;      67;    74;  1902;  1975; F3-Meal;

     4;  10.01.2020; 20:18; 21:31;  0x84;  149.40;  13.58;   7.51;   6.88; 1578676705; 1578681107;      74;    70;  1995;  2064; F3-Meal;

     5;  10.01.2020; 21:31; 23:07;  0x84;  190.85;  15.36;  10.22;   9.36; 1578681107; 1578686835;      96;   100;  2064;  2163; F3-Meal;

     6;  10.01.2020; 23:07; 01:16;  0x84;  308.65;  23.68;  16.89;  15.48; 1578686835; 1578694613;     130;   127;  2163;  2289; F3-Meal;

     0;  10.01.2020; 23:07; 01:16;  0x84;  308.65;  23.68;  16.89;  15.48; 1578686835; 1578694613;     130;   127;  2163;  2289; F3-Meal;

     1;  11.01.2020; 02:18; 03:00;  0x84;   51.46;   6.83;   1.91;   1.75; 1578698292; 1578700824;      43;    43;  2353;  2395; F3-Meal;

     2;  11.01.2020; 12:27; 15:10;  0x84;  404.28;  30.04;  22.43;  20.56; 1578734851; 1578744619;     163;   163;  2959;  3121; F3-Meal;

     3;  11.01.2020; 15:10; 17:57;  0x84;  430.73;  35.89;  22.67;  20.78; 1578744619; 1578754629;     167;   167;  3121;  3287; F3-Meal;

     4;  11.01.2020; 17:57; 19:24;  0x84;  210.59;  17.07;  11.24;  10.30; 1578754629; 1578759875;      88;    83;  3287;  3369; F3-Meal;

     5;  11.01.2020; 19:24; 21:14;  0x84;  253.52;  19.21;  13.95;  12.79; 1578759875; 1578766447;     110;    87;  3369;  3455; F3-Meal;

     6;  11.01.2020; 21:14; 00:13;  0x84;  427.87;  32.43;  23.54;  21.58; 1578766447; 1578777180;     179;   203;  3455;  3657; F3-Meal;

In [19]:
col_name

' Meal#;        Date; Start;   End; Flags;    E-IN;    Cbh;    Fat;    Pro;  S. tstamp; End tstamp; Minutes;  Recs; First;  Last;    Type; Frags;\n'

In [20]:
final_col_names = [col.strip() for col in col_name.split(';')]
final_col_names

['Meal#',
 'Date',
 'Start',
 'End',
 'Flags',
 'E-IN',
 'Cbh',
 'Fat',
 'Pro',
 'S. tstamp',
 'End tstamp',
 'Minutes',
 'Recs',
 'First',
 'Last',
 'Type',
 'Frags',
 '']

In [21]:
scanning = False
for i in meal_data:
    if i.startswith('-------------'):
        scanning = False
        continue    
        
    if scanning:
        if 'Meal#;' in i:
            col_name = i
            continue
        print([value.strip() for value in i.split(';')])
        
    
    if 'Non-deleted saved meals' in i:
        scanning = True
        continue

['0', '09.01.2020', '10:54', '12:33', '0x84', '247.41', '18.85', '13.58', '12.45', '1578556469', '1578562439', '100', '100', '1', '100', 'F3-Meal', '']
['1', '09.01.2020', '12:42', '14:11', '0x84', '198.60', '17.00', '10.31', '9.45', '1578562921', '1578568288', '90', '94', '104', '197', 'F3-Meal', '']
['2', '09.01.2020', '14:31', '16:41', '0x84', '320.71', '23.09', '18.03', '16.53', '1578569494', '1578577272', '130', '130', '217', '346', 'F3-Meal', '']
['3', '09.01.2020', '16:57', '18:01', '0x84', '136.57', '12.71', '6.77', '6.20', '1578578237', '1578582096', '65', '65', '362', '426', 'F3-Meal', '']
['4', '09.01.2020', '18:09', '19:46', '0x84', '193.10', '16.25', '10.11', '9.27', '1578582579', '1578588367', '97', '97', '434', '530', 'F3-Meal', '']
['5', '09.01.2020', '20:43', '22:46', '0x84', '271.64', '19.42', '15.31', '14.04', '1578591804', '1578599161', '123', '103', '587', '689', 'F3-Meal', '']
['6', '09.01.2020', '22:46', '00:14', '0x84', '171.02', '15.29', '8.67', '7.95', '1578599161', '1578604467', '89', '101', '689', '789', 'F3-Meal', '']
['0', '09.01.2020', '22:46', '00:14', '0x84', '171.02', '15.29', '8.67', '7.95', '1578599161', '1578604467', '89', '101', '689', '789', 'F3-Meal', '']
['1', '10.01.2020', '01:22', '04:41', '0x84', '359.83', '29.25', '19.17', '17.57', '1578608567', '1578620506', '199', '203', '861', '1063', 'F3-Meal', '']
['2', '10.01.2020', '14:26', '15:48', '0x84', '167.74', '15.08', '8.48', '7.78', '1578655600', '1578660484', '82', '82', '1645', '1726', 'F3-Meal', '']
['3', '10.01.2020', '18:51', '19:58', '0x84', '171.56', '15.31', '8.71', '7.98', '1578671519', '1578675499', '67', '74', '1902', '1975', 'F3-Meal', '']
['4', '10.01.2020', '20:18', '21:31', '0x84', '149.40', '13.58', '7.51', '6.88', '1578676705', '1578681107', '74', '70', '1995', '2064', 'F3-Meal', '']
['5', '10.01.2020', '21:31', '23:07', '0x84', '190.85', '15.36', '10.22', '9.36', '1578681107', '1578686835', '96', '100', '2064', '2163', 'F3-Meal', '']
['6', '10.01.2020', '23:07', '01:16', '0x84', '308.65', '23.68', '16.89', '15.48', '1578686835', '1578694613', '130', '127', '2163', '2289', 'F3-Meal', '']
['0', '10.01.2020', '23:07', '01:16', '0x84', '308.65', '23.68', '16.89', '15.48', '1578686835', '1578694613', '130', '127', '2163', '2289', 'F3-Meal', '']
['1', '11.01.2020', '02:18', '03:00', '0x84', '51.46', '6.83', '1.91', '1.75', '1578698292', '1578700824', '43', '43', '2353', '2395', 'F3-Meal', '']
['2', '11.01.2020', '12:27', '15:10', '0x84', '404.28', '30.04', '22.43', '20.56', '1578734851', '1578744619', '163', '163', '2959', '3121', 'F3-Meal', '']
['3', '11.01.2020', '15:10', '17:57', '0x84', '430.73', '35.89', '22.67', '20.78', '1578744619', '1578754629', '167', '167', '3121', '3287', 'F3-Meal', '']
['4', '11.01.2020', '17:57', '19:24', '0x84', '210.59', '17.07', '11.24', '10.30', '1578754629', '1578759875', '88', '83', '3287', '3369', 'F3-Meal', '']
['5', '11.01.2020', '19:24', '21:14', '0x84', '253.52', '19.21', '13.95', '12.79', '1578759875', '1578766447', '110', '87', '3369', '3455', 'F3-Meal', '']
['6', '11.01.2020', '21:14', '00:13', '0x84', '427.87', '32.43', '23.54', '21.58', '1578766447', '1578777180', '179', '203', '3455', '3657', 'F3-Meal', '']

In [22]:
all_data = []

In [23]:
scanning = False
for i in meal_data:
    if i.startswith('-------------'):
        scanning = False
        continue    
        
    if scanning:
        if 'Meal#;' in i:
            col_name = i
            continue
        all_data.append([value.strip() for value in i.split(';')])
        
    
    if 'Non-deleted saved meals' in i:
        scanning = True
        continue

In [24]:
all_data

[['0',
  '09.01.2020',
  '10:54',
  '12:33',
  '0x84',
  '247.41',
  '18.85',
  '13.58',
  '12.45',
  '1578556469',
  '1578562439',
  '100',
  '100',
  '1',
  '100',
  'F3-Meal',
  ''],
 ['1',
  '09.01.2020',
  '12:42',
  '14:11',
  '0x84',
  '198.60',
  '17.00',
  '10.31',
  '9.45',
  '1578562921',
  '1578568288',
  '90',
  '94',
  '104',
  '197',
  'F3-Meal',
  ''],
 ['2',
  '09.01.2020',
  '14:31',
  '16:41',
  '0x84',
  '320.71',
  '23.09',
  '18.03',
  '16.53',
  '1578569494',
  '1578577272',
  '130',
  '130',
  '217',
  '346',
  'F3-Meal',
  ''],
 ['3',
  '09.01.2020',
  '16:57',
  '18:01',
  '0x84',
  '136.57',
  '12.71',
  '6.77',
  '6.20',
  '1578578237',
  '1578582096',
  '65',
  '65',
  '362',
  '426',
  'F3-Meal',
  ''],
 ['4',
  '09.01.2020',
  '18:09',
  '19:46',
  '0x84',
  '193.10',
  '16.25',
  '10.11',
  '9.27',
  '1578582579',
  '1578588367',
  '97',
  '97',
  '434',
  '530',
  'F3-Meal',
  ''],
 ['5',
  '09.01.2020',
  '20:43',
  '22:46',
  '0x84',
  '271.64',
  '19.42',
  '15.31',
  '14.04',
  '1578591804',
  '1578599161',
  '123',
  '103',
  '587',
  '689',
  'F3-Meal',
  ''],
 ['6',
  '09.01.2020',
  '22:46',
  '00:14',
  '0x84',
  '171.02',
  '15.29',
  '8.67',
  '7.95',
  '1578599161',
  '1578604467',
  '89',
  '101',
  '689',
  '789',
  'F3-Meal',
  ''],
 ['0',
  '09.01.2020',
  '22:46',
  '00:14',
  '0x84',
  '171.02',
  '15.29',
  '8.67',
  '7.95',
  '1578599161',
  '1578604467',
  '89',
  '101',
  '689',
  '789',
  'F3-Meal',
  ''],
 ['1',
  '10.01.2020',
  '01:22',
  '04:41',
  '0x84',
  '359.83',
  '29.25',
  '19.17',
  '17.57',
  '1578608567',
  '1578620506',
  '199',
  '203',
  '861',
  '1063',
  'F3-Meal',
  ''],
 ['2',
  '10.01.2020',
  '14:26',
  '15:48',
  '0x84',
  '167.74',
  '15.08',
  '8.48',
  '7.78',
  '1578655600',
  '1578660484',
  '82',
  '82',
  '1645',
  '1726',
  'F3-Meal',
  ''],
 ['3',
  '10.01.2020',
  '18:51',
  '19:58',
  '0x84',
  '171.56',
  '15.31',
  '8.71',
  '7.98',
  '1578671519',
  '1578675499',
  '67',
  '74',
  '1902',
  '1975',
  'F3-Meal',
  ''],
 ['4',
  '10.01.2020',
  '20:18',
  '21:31',
  '0x84',
  '149.40',
  '13.58',
  '7.51',
  '6.88',
  '1578676705',
  '1578681107',
  '74',
  '70',
  '1995',
  '2064',
  'F3-Meal',
  ''],
 ['5',
  '10.01.2020',
  '21:31',
  '23:07',
  '0x84',
  '190.85',
  '15.36',
  '10.22',
  '9.36',
  '1578681107',
  '1578686835',
  '96',
  '100',
  '2064',
  '2163',
  'F3-Meal',
  ''],
 ['6',
  '10.01.2020',
  '23:07',
  '01:16',
  '0x84',
  '308.65',
  '23.68',
  '16.89',
  '15.48',
  '1578686835',
  '1578694613',
  '130',
  '127',
  '2163',
  '2289',
  'F3-Meal',
  ''],
 ['0',
  '10.01.2020',
  '23:07',
  '01:16',
  '0x84',
  '308.65',
  '23.68',
  '16.89',
  '15.48',
  '1578686835',
  '1578694613',
  '130',
  '127',
  '2163',
  '2289',
  'F3-Meal',
  ''],
 ['1',
  '11.01.2020',
  '02:18',
  '03:00',
  '0x84',
  '51.46',
  '6.83',
  '1.91',
  '1.75',
  '1578698292',
  '1578700824',
  '43',
  '43',
  '2353',
  '2395',
  'F3-Meal',
  ''],
 ['2',
  '11.01.2020',
  '12:27',
  '15:10',
  '0x84',
  '404.28',
  '30.04',
  '22.43',
  '20.56',
  '1578734851',
  '1578744619',
  '163',
  '163',
  '2959',
  '3121',
  'F3-Meal',
  ''],
 ['3',
  '11.01.2020',
  '15:10',
  '17:57',
  '0x84',
  '430.73',
  '35.89',
  '22.67',
  '20.78',
  '1578744619',
  '1578754629',
  '167',
  '167',
  '3121',
  '3287',
  'F3-Meal',
  ''],
 ['4',
  '11.01.2020',
  '17:57',
  '19:24',
  '0x84',
  '210.59',
  '17.07',
  '11.24',
  '10.30',
  '1578754629',
  '1578759875',
  '88',
  '83',
  '3287',
  '3369',
  'F3-Meal',
  ''],
 ['5',
  '11.01.2020',
  '19:24',
  '21:14',
  '0x84',
  '253.52',
  '19.21',
  '13.95',
  '12.79',
  '1578759875',
  '1578766447',
  '110',
  '87',
  '3369',
  '3455',
  'F3-Meal',
  ''],
 ['6',
  '11.01.2020',
  '21:14',
  '00:13',
  '0x84',
  '427.87',
  '32.43',
  '23.54',
  '21.58',
  '1578766447',
  '1578777180',
  '179',
  '203',
  '3455',
  '3657',
  'F3-Meal',
  '']]

In [25]:
final_col_names

['Meal#',
 'Date',
 'Start',
 'End',
 'Flags',
 'E-IN',
 'Cbh',
 'Fat',
 'Pro',
 'S. tstamp',
 'End tstamp',
 'Minutes',
 'Recs',
 'First',
 'Last',
 'Type',
 'Frags',
 '']

In [26]:
pd.DataFrame(all_data)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16
0,0,09.01.2020,10:54,12:33,0x84,247.41,18.85,13.58,12.45,1578556469,1578562439,100,100,1,100,F3-Meal,
1,1,09.01.2020,12:42,14:11,0x84,198.60,17.00,10.31,9.45,1578562921,1578568288,90,94,104,197,F3-Meal,
2,2,09.01.2020,14:31,16:41,0x84,320.71,23.09,18.03,16.53,1578569494,1578577272,130,130,217,346,F3-Meal,
3,3,09.01.2020,16:57,18:01,0x84,136.57,12.71,6.77,6.20,1578578237,1578582096,65,65,362,426,F3-Meal,
4,4,09.01.2020,18:09,19:46,0x84,193.10,16.25,10.11,9.27,1578582579,1578588367,97,97,434,530,F3-Meal,
5,5,09.01.2020,20:43,22:46,0x84,271.64,19.42,15.31,14.04,1578591804,1578599161,123,103,587,689,F3-Meal,
6,6,09.01.2020,22:46,00:14,0x84,171.02,15.29,8.67,7.95,1578599161,1578604467,89,101,689,789,F3-Meal,
7,0,09.01.2020,22:46,00:14,0x84,171.02,15.29,8.67,7.95,1578599161,1578604467,89,101,689,789,F3-Meal,
8,1,10.01.2020,01:22,04:41,0x84,359.83,29.25,19.17,17.57,1578608567,1578620506,199,203,861,1063,F3-Meal,
9,2,10.01.2020,14:26,15:48,0x84,167.74,15.08,8.48,7.78,1578655600,1578660484,82,82,1645,1726,F3-Meal,
10,3,10.01.2020,18:51,19:58,0x84,171.56,15.31,8.71,7.98,1578671519,1578675499,67,74,1902,1975,F3-Meal,
11,4,10.01.2020,20:18,21:31,0x84,149.40,13.58,7.51,6.88,1578676705,1578681107,74,70,1995,2064,F3-Meal,
12,5,10.01.2020,21:31,23:07,0x84,190.85,15.36,10.22,9.36,1578681107,1578686835,96,100,2064,2163,F3-Meal,
13,6,10.01.2020,23:07,01:16,0x84,308.65,23.68,16.89,15.48,1578686835,1578694613,130,127,2163,2289,F3-Meal,
14,0,10.01.2020,23:07,01:16,0x84,308.65,23.68,16.89,15.48,1578686835,1578694613,130,127,2163,2289,F3-Meal,
15,1,11.01.2020,02:18,03:00,0x84,51.46,6.83,1.91,1.75,1578698292,1578700824,43,43,2353,2395,F3-Meal,
16,2,11.01.2020,12:27,15:10,0x84,404.28,30.04,22.43,20.56,1578734851,1578744619,163,163,2959,3121,F3-Meal,
17,3,11.01.2020,15:10,17:57,0x84,430.73,35.89,22.67,20.78,1578744619,1578754629,167,167,3121,3287,F3-Meal,
18,4,11.01.2020,17:57,19:24,0x84,210.59,17.07,11.24,10.30,1578754629,1578759875,88,83,3287,3369,F3-Meal,
19,5,11.01.2020,19:24,21:14,0x84,253.52,19.21,13.95,12.79,1578759875,1578766447,110,87,3369,3455,F3-Meal,
20,6,11.01.2020,21:14,00:13,0x84,427.87,32.43,23.54,21.58,1578766447,1578777180,179,203,3455,3657,F3-Meal,

In [79]:
meal_df = pd.DataFrame(all_data, columns=final_col_names[0:17])

In [80]:
meal_df.head()

,Meal#,Date,Start,End,Flags,E-IN,Cbh,Fat,Pro,S. tstamp,End tstamp,Minutes,Recs,First,Last,Type,Frags
0,0,09.01.2020,10:54,12:33,0x84,247.41,18.85,13.58,12.45,1578556469,1578562439,100,100,1,100,F3-Meal,
1,1,09.01.2020,12:42,14:11,0x84,198.60,17.00,10.31,9.45,1578562921,1578568288,90,94,104,197,F3-Meal,
2,2,09.01.2020,14:31,16:41,0x84,320.71,23.09,18.03,16.53,1578569494,1578577272,130,130,217,346,F3-Meal,
3,3,09.01.2020,16:57,18:01,0x84,136.57,12.71,6.77,6.20,1578578237,1578582096,65,65,362,426,F3-Meal,
4,4,09.01.2020,18:09,19:46,0x84,193.10,16.25,10.11,9.27,1578582579,1578588367,97,97,434,530,F3-Meal,

In [81]:
meal_df.dtypes

Meal#         object
Date          object
Start         object
End           object
Flags         object
E-IN          object
Cbh           object
Fat           object
Pro           object
S. tstamp     object
End tstamp    object
Minutes       object
Recs          object
First         object
Last          object
Type          object
Frags         object
dtype: object

In [82]:
meal_df = meal_df.astype({'Minutes': 'int', 'Pro': 'float'})

In [60]:
meal_df['Date'] = pd.to_datetime(meal_df.Date)
# по умолчанию парсит по схеме "месяц-день-год"

In [61]:
user_meal_df = meal_df[['Date', 'Pro', 'Minutes']]

In [62]:
user_meal_df.head()

        Date    Pro  Minutes
0 2020-09-01  12.45      100
1 2020-09-01   9.45       90
2 2020-09-01  16.53      130
3 2020-09-01   6.20       65
4 2020-09-01   9.27       97

In [63]:
user_meal_df.Date.dt.month

0      9
1      9
2      9
3      9
4      9
5      9
6      9
7      9
8     10
9     10
10    10
11    10
12    10
13    10
14    10
15    11
16    11
17    11
18    11
19    11
20    11
Name: Date, dtype: int64

In [83]:
meal_df['Date'] = pd.to_datetime(meal_df['Date'], dayfirst=True) 
# формат день-месяц-год

In [84]:
user_meal_df = meal_df[['Date', 'Pro', 'Minutes']]

In [85]:
user_meal_df.head()

        Date    Pro  Minutes
0 2020-01-09  12.45      100
1 2020-01-09   9.45       90
2 2020-01-09  16.53      130
3 2020-01-09   6.20       65
4 2020-01-09   9.27       97

In [86]:
user_meal_df.Date.dt.month

0     1
1     1
2     1
3     1
4     1
5     1
6     1
7     1
8     1
9     1
10    1
11    1
12    1
13    1
14    1
15    1
16    1
17    1
18    1
19    1
20    1
Name: Date, dtype: int64

In [87]:
user_meal_df.dtypes

Date       datetime64[ns]
Pro               float64
Minutes             int64
dtype: object

In [41]:
df = user_meal_df.groupby('Date', as_index=False) \
    .agg({'Minutes': 'sum'})

In [42]:
df

        Date  Minutes
0 2020-09-01      783
1 2020-10-01      778
2 2020-11-01      750

In [43]:
df.to_csv('df_minutes.csv', index=False)

In [44]:
os.getcwd()
# где мы сейчас

'/mnt/HC_Volume_18315164/home-jupyter/jupyter-i-kazantseva-40/Lesson4'

In [ ]:
# попасть на папку выше
# '../shared/Res_Tree/F000545/res_2019.09.11_0.0_6493B6_Container-dat_2125_91-105-165_F000545/meals_list_2.txt' - относительный путь
# абсолютный путь идет от корневой директории

In [ ]:
# [x ** 2 if x % 2 == 0 else x ** 3 for x in range(10)]
# [0, 1, 4, 27, 16, 125, 36, 343, 64, 729] - условие пишется до цикла

In [ ]:
# dict(zip(list1, list2)) - создать словарь из 2 списков

In [ ]:
# df.height = df.height.astype('float')  
# df.height will be rational number

# ser = pd.Series([1, 2], dtype='int32')

In [ ]:
# Удаление колонок:

# df = df.drop(columns='Date')  
# drop Date column

#df = df.drop(index=350)  
# drop row with 350 index

# либо использовать аргумент axis (0 — строки, 1 — колонки), default 0

In [ ]:
# df = df.drop_duplicates() 

# keep{‘first’, ‘last’, False}, default ‘first’
'''
Determines which duplicates (if any) to keep.

‘first’ : Drop duplicates except for the first occurrence.

‘last’ : Drop duplicates except for the last occurrence.

False : Drop all duplicates.
'''
# df will contain <= rows than before after this operation (Фильтрация дубликатов)

In [ ]:
# Вывести все дубликаты
# df.loc[df.duplicated()]

In [ ]:
# Drop only if duplicates are in 'Date' or 'Last' columns or both of them
# df.drop_duplicates(subset=['Date', 'Last'])

In [ ]:
# Вы можете заранее распарсить дату при загрузке датасета, 
# передав в parse_dates список колонок, в которых содержится дата:

# pd.read_csv('some.csv', parse_dates=[1])  # order of columns starting from 0

In [ ]:
# Открывание файлов
'''
file = open('path_to_file')
lines = file.readlines()  # lines is a list with lines from the file
file.close()
'''

In [92]:
for path, dirs, files in os.walk('/mnt/HC_Volume_18315164/home-jupyter/jupyter-i-kazantseva-40/Lesson4/'):
    print(path, dirs, files)

/mnt/HC_Volume_18315164/home-jupyter/jupyter-i-kazantseva-40/Lesson4/ ['.ipynb_checkpoints'] ['df_minutes.csv', 'lesson_4_1_.ipynb']
/mnt/HC_Volume_18315164/home-jupyter/jupyter-i-kazantseva-40/Lesson4/.ipynb_checkpoints [] ['lesson_4_1_-checkpoint.ipynb']

In [93]:
# Оператор pass - заглушка, не делает ничего

for num in range(5):
    if num < 3:
        pass
    else:
        print(num)

3
4

In [ ]:
# df.dropna() - метод, позволяющий выкинуть из датафрэйма все строки, содержащие пропущенные значения.


'''
DataFrame.dropna
(*, axis=0, how=_NoDefault.no_default, thresh=_NoDefault.no_default, subset=None, inplace=False, ignore_index=False)

Parameters

axis{0 or ‘index’, 1 or ‘columns’}, default 0
Determine if rows or columns which contain missing values are removed.

Pass tuple or list to drop on multiple axes. Only a single axis is allowed.

how{‘any’, ‘all’}, default ‘any’
Determine if row or column is removed from DataFrame, when we have at least one NA or all NA.

‘any’ : If any NA values are present, drop that row or column.

‘all’ : If all values are NA, drop that row or column.

threshint, optional
Require that many non-NA values. Cannot be combined with how.

subsetcolumn label or sequence of labels, optional
Labels along other axis to consider, e.g. if you are dropping rows these would be a list of columns to include.

'''

In [94]:
# DataFrame.isin(values) - Проверка на вхождение; Чтобы узнать, есть ли элемент в списке, используется оператор in

df = pd.DataFrame({'num_legs': [2, 4], 'num_wings': [2, 0]},
                  index=['falcon', 'dog'])
df

        num_legs  num_wings
falcon         2          2
dog            4          0

In [95]:
df.isin([0, 2])

        num_legs  num_wings
falcon      True       True
dog        False       True

In [96]:
~df.isin([0, 2])

        num_legs  num_wings
falcon     False      False
dog         True      False

In [97]:
df.isin({'num_wings': [0, 3]})

        num_legs  num_wings
falcon     False      False
dog        False       True

In [98]:
fruits = ["apple", "banana", "cherry"]

for x in fruits:
  print(x)

apple
banana
cherry

In [ ]:
'''
В запросах применяется in:

wanted_clients = [1, 43]
data.query('client_id in @wanted_clients')
'''

In [ ]:
'''
loc выбирает строки и столбцы с определенными метками (названия)

iloc выбирает строки и столбцы в определенных целочисленных позициях (порядковый номер)
'''

In [ ]:
'''
x = pd.DataFrame({'x': [1, 2, 3], 'y': [3, 4, 5]})

x.iloc[1] = {'x': 9, 'y': 99} - ряд

x
Out[26]: 
   x   y
0  1   3
1  9  99
2  3   5
'''

In [ ]:
'''
Слайсы:

s1.loc['c':] = 0

s1
Out[43]: 
a    1.431256
b    1.340309
c    0.000000
d    0.000000
e    0.000000
f    0.000000
dtype: float64

In [47]: df1.loc['d':, 'A':'C']
Out[47]: 
          A         B         C
d  0.974466 -2.006747 -0.410001
e  0.545952 -1.219217 -1.226825
f -1.281247 -0.727707 -0.121306

In [71]: df1.iloc[[1, 3, 5], [1, 3]]
Out[71]: 
           2         6
2  -0.154951 -2.179861
6  -0.345352  0.690579
10 -1.236269 -0.487602

'''

In [ ]:
'''

In [205]: s.mask(s >= 0)
Out[205]: 
4   NaN
3   NaN
2   NaN
1   NaN
0   NaN
dtype: float64

In [206]: df.mask(df >= 0)
Out[206]: 
                   A         B         C         D
2000-01-01 -2.104139 -1.309525       NaN       NaN
2000-01-02 -0.352480       NaN -1.192319       NaN
2000-01-03 -0.864883       NaN -0.227870       NaN
2000-01-04       NaN -1.222082       NaN -1.233203
2000-01-05       NaN -0.605656 -1.169184       NaN
2000-01-06       NaN -0.948458       NaN -0.684718
2000-01-07 -2.670153 -0.114722       NaN -0.048048
2000-01-08       NaN       NaN -0.048788 -0.808838'''

In [ ]:
'''

In [317]: index = pd.Index(list(range(5)), name='rows')

In [318]: columns = pd.Index(['A', 'B', 'C'], name='cols')

In [319]: df = pd.DataFrame(np.random.randn(5, 3), index=index, columns=columns)

In [320]: df
Out[320]: 
cols         A         B         C
rows                              
0     1.295989 -1.051694  1.340429
1    -2.366110  0.428241  0.387275
2     0.433306  0.929548  0.278094
3     2.154730 -0.315628  0.264223
4     1.126818  1.132290 -0.353310

In [321]: df['A']
Out[321]: 
rows
0    1.295989
1   -2.366110
2    0.433306
3    2.154730
4    1.126818
Name: A, dtype: float64
'''

In [ ]:
'''
In [347]: data
Out[347]: 
     a    b  c    d
0  bar  one  z  1.0
1  bar  two  y  2.0
2  foo  one  x  3.0
3  foo  two  w  4.0

In [348]: indexed1 = data.set_index('c')

In [349]: indexed1
Out[349]: 
     a    b    d
c               
z  bar  one  1.0
y  bar  two  2.0
x  foo  one  3.0
w  foo  two  4.0

In [355]: data.set_index('c', drop=False)
Out[355]: 
     a    b  c    d
c                  
z  bar  one  z  1.0
y  bar  two  y  2.0
x  foo  one  x  3.0
w  foo  two  w  4.0

In [350]: indexed2 = data.set_index(['a', 'b'])

In [351]: indexed2
Out[351]: 
         c    d
a   b          
bar one  z  1.0
    two  y  2.0
foo one  x  3.0
    two  w  4.0

'''

In [ ]:
'''
In [356]: data
Out[356]: 
     a    b  c    d
0  bar  one  z  1.0
1  bar  two  y  2.0
2  foo  one  x  3.0
3  foo  two  w  4.0

In [357]: data.reset_index()
Out[357]: 
   index    a    b  c    d
0      0  bar  one  z  1.0
1      1  bar  two  y  2.0
2      2  foo  one  x  3.0
3      3  foo  two  w  4.0'''

In [ ]:
# Соединение датафрэймов - pd.concat()Он принимает кортеж из нескольких датафрэймов и возвращает один большой из них. 
# Соединять можно вертикально (увеличиваем число строк) или горизонтально (увеличиваем число столбцов).

'''
pandas.concat(objs, *, 
axis=0, join='outer', ignore_index=False, keys=None, levels=None, names=None, verify_integrity=False, sort=False, copy=None)

axis{0/’index’, 1/’columns’}, default 0 - вертикально

join{‘inner’, ‘outer’}, default ‘outer’

verify_integritybool, default False

ignore_indexbool, default False
'''

In [ ]:
# Добавление строк - метод append() принимает другой датафрэйм и прибавляет его вертикально. 
# Соединять можно вертикально (увеличиваем число строк) или горизонтально (увеличиваем число столбцов).

'''
Функция Pandas DataFrame.append() используется для добавления строк другого фрейма данных в конец текущего фрейма данных,
возвращая новый объект фрейма данных.
Новые столбцы и новые ячейки вставляются в исходный фрейм данных, которые заполняются значением NaN.

Параметры
other: объект DataFrame или Series/dict, или их список.Это относится к данным, которые должны быть добавлены.

ignore_index: если это true, он не использует метки индекса.

verify_integrity: если это true, возникает ошибка ValueError при создании индекса с дубликатами.

sort: сортирует столбцы, если столбцы self и other не выровнены. 
Сортировка по умолчанию устарела, и в будущей версии pandas она изменится на несортировку. 
Мы передаем sort=True Explicitly для отключения предупреждения и сортировки, 
тогда как мы передаем sort=False Explicitly для отключения предупреждения, а не сортировки.

import pandas as pd  
# Create first Dataframe using dictionary  
info1 = pd.DataFrame({"x":[25,15,12,19],  
                    "y":[47, 24, 17, 29]})    
# Create second Dataframe using dictionary  
Info2 = pd.DataFrame({"x":[25, 15, 12],  
                    "y":[47, 24, 17],   
                    "z":[38, 12, 45]})  
# append info2 at end in info1  
info.append(info2, ignore_index = True)  

'''