In [94]:
import pandas as pd

In [95]:
path_to_file = '/mnt/HC_Volume_18315164/home-jupyter/jupyter-i-kazantseva-40/Lesson2/lesson_1_data.csv' 
# после кавычек ставим тильду слэш таб, выбираем папку, еще раз таб, выбираем файл

In [115]:
path_to_file = 'lesson_1_data.csv' # если лежит в той же папке, достаточно таб и выбрать файл

In [96]:
pd.read_csv(path_to_file, encoding='windows-1251', sep=';')

,Номер,Дата создания,Дата оплаты,Title,Статус,Заработано,Город,Платежная система
0,1062823,01.12.2019 10:50,01.12.2019 10:52,Курс обучения «Эксперт»,Завершен,29597.50,Чита,Сбербанк эквайринг
1,1062855,01.12.2019 20:53,01.12.2019 21:27,Курс обучения «Эксперт»,Завершен,17450.30,Краснодар,Яндекс.Касса
2,1062856,01.12.2019 21:43,NaN,Курс обучения «Специалист»,Отменен,0.00,NaN,NaN
3,1062880,03.12.2019 0:18,NaN,Курс обучения «Консультант»,Отменен,0.00,г.Москва и Московская область,NaN
4,1062899,03.12.2019 21:43,NaN,Курс обучения «Эксперт»,Отменен,0.00,г.Москва и Московская область,NaN
...,...,...,...,...,...,...,...,...
287,1064720,30.12.2019 9:42,30.12.2019 12:49,Подписка «ОНЛАЙН ДИЕТОЛОГ» с ежемесячным автос...,Завершен,2935.44,Самарская область,Яндекс.Касса
288,1064724,30.12.2019 11:32,NaN,Курс обучения «Консультант»,Отменен,0.00,NaN,NaN
289,1064775,31.12.2019 2:17,31.12.2019 2:22,Курс обучения «Консультант»,Завершен,7423.92,NaN,"Сбербанк эквайринг,Бонусный счет"
290,1064793,31.12.2019 16:40,01.01.2020 14:29,Подписка «ОНЛАЙН ДИЕТОЛОГ» с ежемесячным автос...,Завершен,2935.44,Республика Карелия,Яндекс.Касса
291,1064796,31.12.2019 17:29,31.12.2019 17:32,Курс от Школы Диетологов. Повышение квалификац...,Завершен,9898.56,Уфа,"Сбербанк эквайринг,Бонусный счет"

In [116]:
df = pd.read_csv('lesson_1_data.csv', encoding='windows-1251', sep=';')

In [117]:
df.head() # метод, в скобках указываются аргументы = функция, которая что-то вычисляет

,Номер,Дата создания,Дата оплаты,Title,Статус,Заработано,Город,Платежная система
0,1062823,01.12.2019 10:50,01.12.2019 10:52,Курс обучения «Эксперт»,Завершен,29597.5,Чита,Сбербанк эквайринг
1,1062855,01.12.2019 20:53,01.12.2019 21:27,Курс обучения «Эксперт»,Завершен,17450.3,Краснодар,Яндекс.Касса
2,1062856,01.12.2019 21:43,NaN,Курс обучения «Специалист»,Отменен,0.0,NaN,NaN
3,1062880,03.12.2019 0:18,NaN,Курс обучения «Консультант»,Отменен,0.0,г.Москва и Московская область,NaN
4,1062899,03.12.2019 21:43,NaN,Курс обучения «Эксперт»,Отменен,0.0,г.Москва и Московская область,NaN

In [28]:
df.tail()

,Номер,Дата создания,Дата оплаты,Title,Статус,Заработано,Город,Платежная система
287,1064720,30.12.2019 9:42,30.12.2019 12:49,Подписка «ОНЛАЙН ДИЕТОЛОГ» с ежемесячным автос...,Завершен,2935.44,Самарская область,Яндекс.Касса
288,1064724,30.12.2019 11:32,NaN,Курс обучения «Консультант»,Отменен,0.00,NaN,NaN
289,1064775,31.12.2019 2:17,31.12.2019 2:22,Курс обучения «Консультант»,Завершен,7423.92,NaN,"Сбербанк эквайринг,Бонусный счет"
290,1064793,31.12.2019 16:40,01.01.2020 14:29,Подписка «ОНЛАЙН ДИЕТОЛОГ» с ежемесячным автос...,Завершен,2935.44,Республика Карелия,Яндекс.Касса
291,1064796,31.12.2019 17:29,31.12.2019 17:32,Курс от Школы Диетологов. Повышение квалификац...,Завершен,9898.56,Уфа,"Сбербанк эквайринг,Бонусный счет"

In [30]:
df.shape # атрибут, его значение фиксировано

(292, 8)

In [31]:
df.dtypes

Номер                  int64
Дата создания         object
Дата оплаты           object
Title                 object
Статус                object
Заработано           float64
Город                 object
Платежная система     object
dtype: object

In [32]:
df.describe() 
# выводит информацию о числе строк, среднем значении, стандартном отклонении, 
# минимуме, максимуме и значениях по 25-му, 50-му и 75-му квартилям. Он действует только на числах

              Номер    Заработано
count  2.920000e+02    292.000000
mean   1.063745e+06   3397.615034
std    4.438688e+02   5771.572829
min    1.062823e+06      0.000000
25%    1.063608e+06      0.000000
50%    1.063698e+06   2935.440000
75%    1.063807e+06   2935.440000
max    1.064796e+06  42750.000000

In [118]:
df.columns
# В идеале названия колонок осмыслены, актуальны, не содержат пробелов и на английском

Index(['Номер', 'Дата создания', 'Дата оплаты', 'Title', 'Статус',
       'Заработано', 'Город', 'Платежная система'],
      dtype='object')

In [ ]:
# Rename index (row names)
# df = df.rename(index={0: 'Ivanov', 1: 'Vasilev'})

In [ ]:
# Create new column in the df with name new_column which is equal to 5 in each cell
# df['new_column'] = 5

In [119]:
df = df.rename(columns={'Номер': 'number', 
                   'Дата создания': 'create_date', 
                   'Дата оплаты': 'payment_date', 
                   'Title': 'title', 
                   'Статус': 'status',
                   'Заработано': 'money', 
                   'Город': 'city', 
                   'Платежная система': 'payment_system'})

In [120]:
df.head()

,number,create_date,payment_date,title,status,money,city,payment_system
0,1062823,01.12.2019 10:50,01.12.2019 10:52,Курс обучения «Эксперт»,Завершен,29597.5,Чита,Сбербанк эквайринг
1,1062855,01.12.2019 20:53,01.12.2019 21:27,Курс обучения «Эксперт»,Завершен,17450.3,Краснодар,Яндекс.Касса
2,1062856,01.12.2019 21:43,NaN,Курс обучения «Специалист»,Отменен,0.0,NaN,NaN
3,1062880,03.12.2019 0:18,NaN,Курс обучения «Консультант»,Отменен,0.0,г.Москва и Московская область,NaN
4,1062899,03.12.2019 21:43,NaN,Курс обучения «Эксперт»,Отменен,0.0,г.Москва и Московская область,NaN

In [36]:
df['title']

0                                Курс обучения «Эксперт»
1                                Курс обучения «Эксперт»
2                             Курс обучения «Специалист»
3                            Курс обучения «Консультант»
4                                Курс обучения «Эксперт»
                             ...
287    Подписка «ОНЛАЙН ДИЕТОЛОГ» с ежемесячным автос...
288                          Курс обучения «Консультант»
289                          Курс обучения «Консультант»
290    Подписка «ОНЛАЙН ДИЕТОЛОГ» с ежемесячным автос...
291    Курс от Школы Диетологов. Повышение квалификац...
Name: title, Length: 292, dtype: object

In [38]:
df[['title', 'status']].head()

                         title    status
0      Курс обучения «Эксперт»  Завершен
1      Курс обучения «Эксперт»  Завершен
2   Курс обучения «Специалист»   Отменен
3  Курс обучения «Консультант»   Отменен
4      Курс обучения «Эксперт»   Отменен

In [39]:
df.status

0      Завершен
1      Завершен
2       Отменен
3       Отменен
4       Отменен
         ...
287    Завершен
288     Отменен
289    Завершен
290    Завершен
291    Завершен
Name: status, Length: 292, dtype: object

In [42]:
df.head().money.sum() # считает сумму только по первым пяти

47047.8

In [ ]:
'''
product – перемножение
std – среднеквадратичное отклонение
var – дисперсия
'''

In [43]:
all_money = df.money.sum()

In [44]:
all_money

992103.5900000001

In [54]:
df.groupby('title', as_index=False) \
    .aggregate({'money': 'sum'}) \
    .sort_values('money', ascending=False)

# можно не ставить \, вместо этого заключать всю совокупность методов в ()

                                               title      money
5  Подписка «ОНЛАЙН ДИЕТОЛОГ» с ежемесячным автос...  366947.20
0                        Курс обучения «Консультант»  208163.49
1                         Курс обучения «Специалист»  160862.64
2                            Курс обучения «Эксперт»  148992.80
4  Курс от Школы Диетологов. Повышение квалификац...   88384.92
3                   Курс от Школы Диетологов. Бизнес   18752.54

In [56]:
money_by_city = df.groupby(['title', 'city'], as_index=False) \
    .aggregate({'money': 'sum'}) \
    .sort_values('money', ascending=False)

In [57]:
money_by_city

,title,city,money
51,Курс обучения «Эксперт»,г.Санкт-Петербург и Ленинградская область,59195.00
156,Подписка «ОНЛАЙН ДИЕТОЛОГ» с ежемесячным автос...,г.Москва и Московская область,46967.04
39,Курс обучения «Эксперт»,Балхаш,42750.00
95,Подписка «ОНЛАЙН ДИЕТОЛОГ» с ежемесячным автос...,Краснодарский край,38169.78
30,Курс обучения «Специалист»,Краснодар,29695.70
...,...,...,...
63,Курс от Школы Диетологов. Повышение квалификац...,Кемерово,0.00
61,Курс от Школы Диетологов. Повышение квалификац...,Екатеринбург,0.00
55,Курс от Школы Диетологов. Бизнес,Крым Советский,0.00
54,Курс от Школы Диетологов. Бизнес,Киев,0.00
158,Подписка «ОНЛАЙН ДИЕТОЛОГ» с ежемесячным автос...,нижний Новгород,0.00

In [58]:
money_by_city.to_csv('money_by_city.csv', index=False) #сохранение

In [60]:
df \
    .query("status == 'Завершен'") \
    .groupby('title', as_index=False) \
    .aggregate({'money': 'sum', 'number': 'count'}) \
    .sort_values('money', ascending=False)

                                               title      money  number
5  Подписка «ОНЛАЙН ДИЕТОЛОГ» с ежемесячным автос...  366947.20     125
0                        Курс обучения «Консультант»  208163.49      31
1                         Курс обучения «Специалист»  160862.64       7
2                            Курс обучения «Эксперт»  148992.80       5
4  Курс от Школы Диетологов. Повышение квалификац...   88384.92       9
3                   Курс от Школы Диетологов. Бизнес   18752.54       3

In [62]:
money_title = df \
    .query("status == 'Завершен'") \
    .groupby(['title'], as_index=False) \
    .aggregate({'money': 'sum', 'number': 'count'}) \
    .sort_values('money', ascending=False) \
    .rename(columns={'number': 'successed_orders'})

In [63]:
money_title

,title,money,successed_orders
5,Подписка «ОНЛАЙН ДИЕТОЛОГ» с ежемесячным автос...,366947.20,125
0,Курс обучения «Консультант»,208163.49,31
1,Курс обучения «Специалист»,160862.64,7
2,Курс обучения «Эксперт»,148992.80,5
4,Курс от Школы Диетологов. Повышение квалификац...,88384.92,9
3,Курс от Школы Диетологов. Бизнес,18752.54,3

In [64]:
df.title.unique()

array(['Курс обучения «Эксперт»', 'Курс обучения «Специалист»',
       'Курс обучения «Консультант»', 'Курс от Школы Диетологов. Бизнес',
       'Курс от Школы Диетологов. Повышение квалификации. ',
       'Подписка «ОНЛАЙН ДИЕТОЛОГ» с ежемесячным автосписанием'],
      dtype=object)

In [102]:
df['payment_system'].value_counts() # по умолчанию убирает NaN

Яндекс.Касса                        118
Сбербанк эквайринг                   22
Сбербанк эквайринг,Бонусный счет     14
Другое                                8
CloudPayments                         8
Безналичный расчёт                    2
PayPal                                2
Яндекс.Касса,Бонусный счет            2
Бонусный счет                         2
Системы быстрых переводов             1
Бонусный счет,Сбербанк эквайринг      1
Бонусный счет,Яндекс.Касса            1
Робокасса,Бонусный счет               1
Name: payment_system, dtype: int64

In [103]:
df['payment_system'].value_counts(normalize=True, dropna=False) # частотность + NaN

Яндекс.Касса                        0.404110
NaN                                 0.376712
Сбербанк эквайринг                  0.075342
Сбербанк эквайринг,Бонусный счет    0.047945
Другое                              0.027397
CloudPayments                       0.027397
Безналичный расчёт                  0.006849
PayPal                              0.006849
Яндекс.Касса,Бонусный счет          0.006849
Бонусный счет                       0.006849
Системы быстрых переводов           0.003425
Бонусный счет,Сбербанк эквайринг    0.003425
Бонусный счет,Яндекс.Касса          0.003425
Робокасса,Бонусный счет             0.003425
Name: payment_system, dtype: float64

In [105]:
df['money'].value_counts(bins=2) # делит на 2 промежутка

(-42.751, 21375.0]    284
(21375.0, 42750.0]      8
Name: money, dtype: int64

In [111]:
df.query("status == 'Завершен' and payment_system == 'PayPal'")

,number,create_date,payment_date,title,status,money,city,payment_system
14,1062947,05.12.2019 21:39,07.12.2019 13:35,Курс обучения «Консультант»,Завершен,5044.05,Massagno,PayPal
150,1063703,19.12.2019 21:08,22.12.2019 16:03,Подписка «ОНЛАЙН ДИЕТОЛОГ» с ежемесячным автос...,Завершен,2840.50,NaN,PayPal

In [69]:
all_money == money_title.money.sum()

True

In [70]:
if int(money_title.money.sum()) == int(all_money):
    print('OK')
else:
    print('ERROR!')

OK

In [71]:
from datetime import datetime

In [73]:
datetime.today().strftime('%Y-%m-%d')

'2023-04-23'

In [32]:
today_day = datetime.today().strftime('%Y-%m-%d')

In [74]:
file_name = 'money_title_{}.csv'

In [75]:
file_name.format(today_day)

'money_title_2023-04-23.csv'

In [76]:
file_name = file_name.format(today_day)

In [78]:
if int(money_title.money.sum()) == int(all_money):
    print('OK! File {} is written.'.format(file_name))
    money_title.to_csv(file_name, index=False)
else:
    print('ERROR!')

OK! File money_title_2023-04-23.csv is written.

In [82]:
def send_product_report(file_path):
    df = pd.read_csv(file_path, 
                 encoding='windows-1251', sep=';')  
    
    df = df.rename(columns={'Номер': 'number', 
                   'Дата создания': 'create_date', 
                   'Дата оплаты': 'payment_date', 
                   'Title': 'title', 
                   'Статус': 'status',
                   'Заработано': 'money', 
                   'Город': 'city', 
                   'Платежная система': 'payment_system'})    
    
    all_money = df.money.sum()
    
    money_title = df \
        .query("status == 'Завершен'") \
        .groupby(['title'], as_index=False) \
        .aggregate({'money': 'sum', 'number': 'count'}) \
        .sort_values('money', ascending=False) \
        .rename(columns={'number': 'successed_orders'})    
    
    today_day = datetime.today().strftime('%Y-%m-%d')
    file_name = 'money_title_{}.csv'
    file_name = file_name.format(today_day)    
    
    if int(money_title.money.sum()) == int(all_money):
        print('OK! File {} is written.'.format(file_name))
        money_title.to_csv(file_name, index=False)
    else:
        print('ERROR!')  
        
    return money_title

In [83]:
df = send_product_report('lesson_1_data.csv')

OK! File money_title_2023-04-23.csv is written.

In [114]:
pd.read_csv(r'D:\Karpov.Courses\KC_Python\Lesson1\lesson_1_data.csv', encoding='windows-1251', sep=';') # пример оформления

FileNotFoundError: [Errno 2] No such file or directory: 'D:\\Karpov.Courses\\KC_Python\\Lesson1\\lesson_1_data.csv'

In [113]:
# And create_data, payment_data columns will be treated as data
pd.read_csv('lesson_1_data.csv', encoding='Windows-1251', sep=';', parse_dates=['Дата создания', 'Дата оплаты'])

,Номер,Дата создания,Дата оплаты,Title,Статус,Заработано,Город,Платежная система
0,1062823,2019-01-12 10:50:00,2019-01-12 10:52:00,Курс обучения «Эксперт»,Завершен,29597.50,Чита,Сбербанк эквайринг
1,1062855,2019-01-12 20:53:00,2019-01-12 21:27:00,Курс обучения «Эксперт»,Завершен,17450.30,Краснодар,Яндекс.Касса
2,1062856,2019-01-12 21:43:00,NaT,Курс обучения «Специалист»,Отменен,0.00,NaN,NaN
3,1062880,2019-03-12 00:18:00,NaT,Курс обучения «Консультант»,Отменен,0.00,г.Москва и Московская область,NaN
4,1062899,2019-03-12 21:43:00,NaT,Курс обучения «Эксперт»,Отменен,0.00,г.Москва и Московская область,NaN
...,...,...,...,...,...,...,...,...
287,1064720,2019-12-30 09:42:00,2019-12-30 12:49:00,Подписка «ОНЛАЙН ДИЕТОЛОГ» с ежемесячным автос...,Завершен,2935.44,Самарская область,Яндекс.Касса
288,1064724,2019-12-30 11:32:00,NaT,Курс обучения «Консультант»,Отменен,0.00,NaN,NaN
289,1064775,2019-12-31 02:17:00,2019-12-31 02:22:00,Курс обучения «Консультант»,Завершен,7423.92,NaN,"Сбербанк эквайринг,Бонусный счет"
290,1064793,2019-12-31 16:40:00,2020-01-01 14:29:00,Подписка «ОНЛАЙН ДИЕТОЛОГ» с ежемесячным автос...,Завершен,2935.44,Республика Карелия,Яндекс.Касса
291,1064796,2019-12-31 17:29:00,2019-12-31 17:32:00,Курс от Школы Диетологов. Повышение квалификац...,Завершен,9898.56,Уфа,"Сбербанк эквайринг,Бонусный счет"

In [ ]:
'''
Еще функции:

replace

    my_str = 'barbarian'
    my_str = my_str.replace('bar', 'mur')  # 'murmurian'
    my_str = my_str.replace('mur', 'bur', 1)  # 'burmurian'

strip

    prints the string by removing leading and trailing whitespaces
    print(string.strip())  

    Print string after stripping str2 from str1 at both its end.
    print(str1.strip(str2))

round

    >>> round_up(1.1)
    2.0

    >>> round_up(1.23, 1)
    1.3

    >>> round_up(1.543, 2)
    1.55

'''

In [121]:
df.money.head()

0    29597.5
1    17450.3
2        0.0
3        0.0
4        0.0
Name: money, dtype: float64

In [122]:
df.money.head()*3 # векторизация - различные операции с колонками целиком,без итерирования

0    88792.5
1    52350.9
2        0.0
3        0.0
4        0.0
Name: money, dtype: float64

In [ ]:
'''
Время и дата:

from datetime import datetime


# current date and time
now = datetime.now() 
print(f'Full time format of now is {now}')
Full time format of now is 2020-06-01 17:54:40.010540

# Year
year = now.strftime("%Y")
print("year:", year)
year: 2020

# Month
month = now.strftime("%m")
print("month:", month)
month: 06

# Day
day = now.strftime("%d")
print("day:", day)
day: 01

# Time
time = now.strftime("%H:%M:%S")
print("time:", time)
time: 17:54:40

# Date and time
date_time = now.strftime("%m/%d/%Y, %H:%M:%S")
print("date and time:",date_time)
date and time: 06/04/2020, 17:54:40

'''