In [131]:
import pandas as pd

In [132]:
path_to_file = '/mnt/HC_Volume_18315164/home-jupyter/jupyter-i-kazantseva-40/shared/homeworks/python_ds_miniprojects/2/bookings.csv'

In [133]:
bookings = pd.read_csv(path_to_file, encoding='windows-1251', sep=';')

In [134]:
bookings_head = bookings.head(7)

In [135]:
bookings_head

,Hotel,Is Canceled,Lead Time,arrival full date,Arrival Date Year,Arrival Date Month,Arrival Date Week Number,Arrival Date Day of Month,Stays in Weekend nights,Stays in week nights,...,Adults,Children,Babies,Meal,Country,Reserved Room Type,Assigned room type,customer type,Reservation Status,Reservation status_date
0,Resort Hotel,0,342,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,C,Transient,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03
5,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03
6,Resort Hotel,0,0,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-03

In [136]:
bookings.shape

(119390, 21)

In [106]:
bookings.dtypes

Hotel                         object
Is Canceled                    int64
Lead Time                      int64
arrival full date             object
Arrival Date Year              int64
Arrival Date Month            object
Arrival Date Week Number       int64
Arrival Date Day of Month      int64
Stays in Weekend nights        int64
Stays in week nights           int64
stays total nights             int64
Adults                         int64
Children                     float64
Babies                         int64
Meal                          object
Country                       object
Reserved Room Type            object
Assigned room type            object
customer type                 object
Reservation Status            object
Reservation status_date       object
dtype: object

In [137]:
bookings = bookings.rename(str.lower, axis='columns')

In [138]:
bookings.head()

,hotel,is canceled,lead time,arrival full date,arrival date year,arrival date month,arrival date week number,arrival date day of month,stays in weekend nights,stays in week nights,...,adults,children,babies,meal,country,reserved room type,assigned room type,customer type,reservation status,reservation status_date
0,Resort Hotel,0,342,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,C,Transient,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03

In [139]:
bookings.columns = bookings.columns.str.replace(" ", "_")

In [140]:
bookings.head()

,hotel,is_canceled,lead_time,arrival_full_date,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,...,adults,children,babies,meal,country,reserved_room_type,assigned_room_type,customer_type,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,C,Transient,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03

In [111]:
country_booking = bookings \
        .query("is_canceled == 0") \
        .groupby(['country'], as_index=False) \
        .aggregate({'is_canceled': 'count'}) \
        .sort_values('is_canceled', ascending=False)

In [112]:
country_booking.head()

    country  is_canceled
125     PRT        21071
57      GBR         9676
54      FRA         8481
50      ESP         6391
42      DEU         6069

In [141]:
bookings.columns

Index(['hotel', 'is_canceled', 'lead_time', 'arrival_full_date',
       'arrival_date_year', 'arrival_date_month', 'arrival_date_week_number',
       'arrival_date_day_of_month', 'stays_in_weekend_nights',
       'stays_in_week_nights', 'stays_total_nights', 'adults', 'children',
       'babies', 'meal', 'country', 'reserved_room_type', 'assigned_room_type',
       'customer_type', 'reservation_status', 'reservation_status_date'],
      dtype='object')

In [36]:
average_night = bookings \
        .groupby(['hotel'], as_index=False) \
        .aggregate({'stays_total_nights': 'mean'}) \
        .sort_values('stays_total_nights', ascending=False)

In [39]:
average_night.round(2)

          hotel  stays_total_nights
1  Resort Hotel                4.32
0    City Hotel                2.98

In [40]:
diff_type_numbers = bookings \
        .query("assigned_room_type != reserved_room_type")

In [42]:
diff_type_numbers.shape

(14917, 21)

In [44]:
arrival_month_2016 = bookings \
        .query("arrival_date_year == 2016") \
        .groupby(['arrival_date_month'], as_index=False) \
        .aggregate({'is_canceled': 'count'}) \
        .sort_values('is_canceled', ascending=False)

In [48]:
arrival_month_2016.head(3)

   arrival_date_month  is_canceled
10            October         6203
8                 May         5478
0               April         5428

In [46]:
arrival_month_2017 = bookings \
        .query("arrival_date_year == 2017") \
        .groupby(['arrival_date_month'], as_index=False) \
        .aggregate({'is_canceled': 'count'}) \
        .sort_values('is_canceled', ascending=False)

In [49]:
arrival_month_2017.head(3)

  arrival_date_month  is_canceled
7                May         6313
0              April         5661
5               June         5647

In [50]:
bookings_canceled = bookings \
        .query("is_canceled == 1") \
        .groupby(['arrival_date_year', 'arrival_date_month'], as_index=False) \
        .aggregate({'is_canceled': 'count'}) \
        .sort_values('is_canceled', ascending=False)

In [51]:
bookings_canceled

    arrival_date_year arrival_date_month  is_canceled
25               2017                May         2762
16               2016            October         2514
18               2017              April         2463
23               2017               June         2439
12               2016               June         2096
5                2015          September         2094
6                2016              April         2061
17               2016          September         2022
22               2017               July         1984
14               2016                May         1915
7                2016             August         1825
19               2017             August         1816
4                2015            October         1732
24               2017              March         1672
15               2016           November         1636
0                2015             August         1598
11               2016               July         1499
13               2016              March         1477
8                2016           December         1398
20               2017           February         1359
9                2016           February         1337
2                2015               July         1259
21               2017            January         1250
1                2015           December          973
10               2016            January          557
3                2015           November          486

In [53]:
bookings_canceled.query("arrival_date_year == 2017").head(2)

    arrival_date_year arrival_date_month  is_canceled
25               2017                May         2762
18               2017              April         2463

In [54]:
bookings_canceled.query("arrival_date_year == 2016").head(2)

    arrival_date_year arrival_date_month  is_canceled
16               2016            October         2514
12               2016               June         2096

In [55]:
bookings_canceled.query("arrival_date_year == 2015").head(2)

   arrival_date_year arrival_date_month  is_canceled
5               2015          September         2094
4               2015            October         1732

In [59]:
bookings.adults.mean()

1.8564033838679956

In [60]:
bookings.children.mean()

0.10388990333874994

In [61]:
bookings.babies.mean()

0.007948739425412514

In [142]:
bookings['total_kids'] = 0

In [115]:
bookings.head(2)

,hotel,is_canceled,lead_time,arrival_full_date,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,...,children,babies,meal,country,reserved_room_type,assigned_room_type,customer_type,reservation_status,reservation_status_date,total_kids
0,Resort Hotel,0,342,2015-07-01,2015,July,27,1,0,0,...,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01,0
1,Resort Hotel,0,737,2015-07-01,2015,July,27,1,0,0,...,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01,0

In [143]:
bookings['total_kids'] = bookings.children + bookings.babies

In [144]:
bookings.query("children > 0 & babies > 0").head(10)

,hotel,is_canceled,lead_time,arrival_full_date,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,...,children,babies,meal,country,reserved_room_type,assigned_room_type,customer_type,reservation_status,reservation_status_date,total_kids
272,Resort Hotel,0,87,2015-07-10,2015,July,28,10,2,5,...,1.0,1,FB,PRT,C,C,Transient,Check-Out,2015-07-17,2.0
521,Resort Hotel,0,106,2015-07-18,2015,July,29,18,2,3,...,1.0,1,BB,PRT,C,C,Transient,Check-Out,2015-07-23,2.0
951,Resort Hotel,0,116,2015-08-07,2015,August,32,7,2,5,...,1.0,1,BB,PRT,C,C,Transient,Check-Out,2015-08-14,2.0
998,Resort Hotel,0,81,2015-08-09,2015,August,33,9,2,4,...,1.0,1,FB,ESP,C,C,Transient,Check-Out,2015-08-15,2.0
1081,Resort Hotel,0,47,2015-08-13,2015,August,33,13,0,3,...,1.0,1,HB,RUS,C,C,Transient,Check-Out,2015-08-16,2.0
1339,Resort Hotel,1,70,2015-08-24,2015,August,35,24,2,5,...,1.0,1,FB,PRT,C,C,Transient,Canceled,2015-06-16,2.0
1485,Resort Hotel,1,38,2015-09-01,2015,September,36,1,0,2,...,1.0,1,BB,PRT,C,C,Transient,Canceled,2015-08-06,2.0
3574,Resort Hotel,1,113,2015-12-24,2015,December,52,24,2,4,...,2.0,1,BB,PRT,G,G,Transient,Canceled,2015-12-16,3.0
5189,Resort Hotel,1,56,2016-04-19,2016,April,17,19,2,7,...,2.0,1,BB,PRT,G,G,Transient,Canceled,2016-02-24,3.0
6681,Resort Hotel,1,11,2016-06-24,2016,June,26,24,0,1,...,2.0,1,BB,PRT,H,H,Transient,Canceled,2016-06-24,3.0

In [70]:
average_total_kids = bookings \
        .groupby(['hotel'], as_index=False) \
        .aggregate({'total_kids': 'mean'}) \
        .sort_values('total_kids', ascending=False)

In [118]:
average_total_kids.round(2)

          hotel  total_kids
1  Resort Hotel        0.14
0    City Hotel        0.10

In [145]:
bookings.total_kids.unique()

array([ 0.,  1.,  2., 10.,  3., nan,  9.])

In [146]:
bookings['has_kids'] = bookings.total_kids != 0

In [151]:
bookings.has_kids.unique()

array([False,  True])

In [152]:
total_clients_with_children = bookings.query("has_kids == True")

In [154]:
total_clients_with_children.shape

(9336, 23)

In [155]:
total_clients_without_children = bookings.query("has_kids == False")

In [156]:
total_clients_without_children.shape

(110054, 23)

In [157]:
9336+110054

119390

In [158]:
bookings.shape

(119390, 23)

In [159]:
chanceled_clients_with_children = bookings.query("has_kids == True and is_canceled == 1")

In [160]:
chanceled_clients_with_children.shape

(3263, 23)

In [161]:
chanceled_clients_without_children = bookings.query("has_kids == False and is_canceled == 1")

In [162]:
chanceled_clients_without_children.shape

(40961, 23)

In [163]:
churn_rate_with_children = 3263 / 9336

In [170]:
churn_rate_with_children_percent = churn_rate_with_children * 100

In [165]:
churn_rate_without_children = 40961 / 110054

In [171]:
churn_rate_without_children_percent = churn_rate_without_children * 100

In [177]:
churn_rate_with_children_percent

34.950728363324764

In [173]:
churn_rate_without_children_percent

37.219001581042036

In [176]:
round(churn_rate_with_children_percent, 2)

34.95

In [178]:
round(churn_rate_without_children_percent, 2)

37.22