In [51]:
import pandas as pd

In [52]:
path_to_file = '5_data.csv.zip'

In [53]:
retail = pd.read_csv(path_to_file, compression='zip', encoding='ISO-8859-1')

In [54]:
retail.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom

In [55]:
retail.shape

(541909, 8)

In [56]:
retail.dtypes

InvoiceNo       object
StockCode       object
Description     object
Quantity         int64
InvoiceDate     object
UnitPrice      float64
CustomerID     float64
Country         object
dtype: object

In [57]:
retail_columns = retail.columns

In [58]:
retail_columns

Index(['InvoiceNo', 'StockCode', 'Description', 'Quantity', 'InvoiceDate',
       'UnitPrice', 'CustomerID', 'Country'],
      dtype='object')

In [59]:
retail = retail.drop_duplicates()

In [60]:
retail.shape

(536641, 8)

In [12]:
#retail_no_dubl = retail.drop_duplicates()

In [13]:
#retail_no_dubl.shape

(536641, 8)

In [14]:
541909-536641

5268

In [61]:
unsucsessed_invoice = retail.query('InvoiceNo.str.startswith("C")')

In [19]:
#unsucsessed_invoice = retail_no_dubl.query('InvoiceNo.str.startswith("C")')

In [62]:
unsucsessed_invoice.shape

(9251, 8)

In [63]:
retail = retail.query('Quantity > 0')

In [64]:
retail.shape

(526054, 8)

In [24]:
'''germany = retail_no_dubl[retail_no_dubl.Country == 'Germany'] \
    .groupby(['CustomerID'], as_index=False) \
    .agg({'InvoiceNo': 'count'})
'''

In [25]:
# germany.head()

   CustomerID  InvoiceNo
0     12426.0         30
1     12427.0         35
2     12468.0         40
3     12471.0        530
4     12472.0        391

In [27]:
# germany.InvoiceNo.quantile(q=[0.8])

0.8    164.0
Name: InvoiceNo, dtype: float64

In [28]:
# germany_quan = germany[germany.InvoiceNo > 164.0]

In [30]:
# germany_quan.shape

(19, 2)

In [31]:
# germany_top = germany_quan.CustomerID

In [32]:
# germany_top

3     12471.0
4     12472.0
5     12473.0
6     12474.0
8     12476.0
9     12477.0
12    12481.0
20    12517.0
37    12569.0
53    12621.0
57    12626.0
58    12627.0
70    12662.0
72    12668.0
78    12705.0
79    12708.0
80    12709.0
84    12720.0
91    13815.0
Name: CustomerID, dtype: float64

In [65]:
germany = retail[retail.Country == 'Germany'] \
    .groupby(['CustomerID'], as_index=False) \
    .agg({'InvoiceNo': pd.Series.nunique})

germany

    CustomerID  InvoiceNo
0      12426.0          1
1      12427.0          3
2      12468.0          2
3      12471.0         30
4      12472.0          7
..         ...        ...
89     13814.0          2
90     13815.0          4
91     13816.0          2
92     13817.0          2
93     14335.0          2

[94 rows x 2 columns]

In [66]:
quantile = germany.InvoiceNo.quantile(0.8)
quantile

7.0

In [86]:
germany_quan = germany[germany.InvoiceNo > 7]
germany_top = list(germany_quan['CustomerID'])
germany_top

[12471.0,
 12474.0,
 12476.0,
 12481.0,
 12500.0,
 12524.0,
 12569.0,
 12600.0,
 12619.0,
 12621.0,
 12626.0,
 12647.0,
 12662.0,
 12705.0,
 12708.0,
 12709.0,
 12712.0,
 12720.0]

In [87]:
import numpy as np

In [68]:
# Датафрейм записан в retail, нужные id пользователей – в germany_top

In [90]:
germany_top
top_retail_germany = retail.query('CustomerID in @germany_top')

In [91]:
top_retail_germany

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
1109,536527,22809,SET OF 6 T-LIGHTS SANTA,6,12/1/2010 13:04,2.95,12662.0,Germany
1110,536527,84347,ROTATING SILVER ANGELS T-LIGHT HLDR,6,12/1/2010 13:04,2.55,12662.0,Germany
1111,536527,84945,MULTI COLOUR SILVER T-LIGHT HOLDER,12,12/1/2010 13:04,0.85,12662.0,Germany
1112,536527,22242,5 HOOK HANGER MAGIC TOADSTOOL,12,12/1/2010 13:04,1.65,12662.0,Germany
1113,536527,22244,3 HOOK HANGER MAGIC GARDEN,12,12/1/2010 13:04,1.95,12662.0,Germany
...,...,...,...,...,...,...,...,...
541726,581570,22139,RETROSPOT TEA SET CERAMIC 11 PC,3,12/9/2011 11:59,4.95,12662.0,Germany
541727,581570,23077,DOUGHNUT LIP GLOSS,20,12/9/2011 11:59,1.25,12662.0,Germany
541728,581570,20750,RED RETROSPOT MINI CASES,2,12/9/2011 11:59,7.95,12662.0,Germany
541729,581570,22505,MEMO BOARD COTTAGE DESIGN,4,12/9/2011 11:59,4.95,12662.0,Germany
541730,581570,POST,POSTAGE,1,12/9/2011 11:59,18.00,12662.0,Germany

In [94]:
top_retail_germany.groupby(['StockCode'], as_index=False) \
    .agg({'InvoiceNo': 'count'}) \
    .sort_values('InvoiceNo', ascending=False) \
    .head()

     StockCode  InvoiceNo
1157      POST        213
409      22326         52
411      22328         38
453      22423         34
45       20719         30

In [95]:
retail['Revenue'] = retail['Quantity'] * retail['UnitPrice']

In [96]:
retail.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Revenue
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom,15.30
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom,20.34
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom,22.00
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom,20.34
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom,20.34

In [97]:
retail.groupby(['InvoiceNo'], as_index=False) \
    .agg({'Revenue': 'sum'}) \
    .sort_values('Revenue', ascending=False) \
    .head()

      InvoiceNo    Revenue
20689    581483  168469.60
2202     541431   77183.60
17582    574941   52940.94
18251    576365   50653.91
9034     556444   38970.00