In [6]:
13/2

6.5

In [4]:
13//2

6

In [5]:
13%2

1

In [7]:
analyst = 'Anatoly'

In [8]:
analyst

'Anatoly'

In [9]:
print(analyst)

Anatoly

In [29]:
year = 2

In [17]:
has_job = False

In [18]:
analyst_2 = 'Olga'

In [30]:
year_2 = 3

In [20]:
has_job_2 = True

In [31]:
year > year_2

False

In [25]:
analysts = ['Anatoly', 'Olga', 'Beslan']

In [26]:
analysts

['Anatoly', 'Olga', 'Beslan']

In [27]:
years = [2, 3, 4]

In [28]:
analysts[0]

'Anatoly'

In [33]:
years[2]

4

In [35]:
len(analysts) > 5

False

In [37]:
analysts.append('Michael')

In [38]:
analysts

['Anatoly', 'Olga', 'Beslan', 'Michael']

In [39]:
analysts.pop(3)

'Michael'

In [40]:
analysts

['Anatoly', 'Olga', 'Beslan']

In [49]:
has_job = True

In [42]:
if has_job == True:
    print('Anatoly is happy!')
else:
    print('Anatoly is sad!')

Anatoly is sad!

In [45]:
if has_job:
    happy_message = 'Anatoly is happy!'
    print(happy_message)
else:
    sad_message = 'Anatoly is sad!'
    print(sad_message)
    
print('New command!')

Anatoly is sad!
New command!

In [47]:
if has_job:
    message = 'Anatoly is happy!'
else:
    message = 'Anatoly is sad!'
print(message)

Anatoly is sad!

In [50]:
if has_job:
    message = 'Anatoly is happy!'
    print(message)

Anatoly is happy!

In [51]:
job_years = 1

In [54]:
salary = 100000

In [55]:
if job_years < 1:
    print('No addition money')
    new_salary = salary + salary * 0
elif job_years >= 1 and job_years <= 2:
    print('0.2 addition')
    new_salary = salary + salary * 0.2
else:
    print('0.4 addition')
    new_salary = salary + salary * 0.4
    
print(new_salary)

0.2 addition
120000.0

In [57]:
if job_years < 1:
    print('No addition money')
    coefficient = 0
elif job_years >= 1 and job_years <= 2:
    print('0.2 addition')
    coefficient = 0.2
else:
    print('0.4 addition')
    coefficient = 0.4
new_salary = salary + salary * coefficient    
print(new_salary)

0.2 addition
120000.0

In [58]:
message = 'Addition is equal'

In [60]:
if job_years < 1:
    coefficient = 0
elif job_years >= 1 and job_years <= 2:
    coefficient = 0.2
else:
    coefficient = 0.4
    
new_salary = salary + salary * coefficient

print(message + ' ' + str(coefficient))
print(new_salary)

Addition is equal 0.2
120000.0

In [61]:
message = 'Addition is equal {} '

In [62]:
if job_years < 1:
    coefficient = 0
elif job_years >= 1 and job_years <= 2:
    coefficient = 0.2
else:
    coefficient = 0.4
    
new_salary = salary + salary * coefficient

print(message.format(coefficient))
print(new_salary)

Addition is equal 0.2
120000.0

In [66]:
message = 'Addition is equal {coef}. New salary is {new_salary}!'

In [67]:
if job_years < 1:
    coefficient = 0
elif job_years >= 1 and job_years <= 2:
    coefficient = 0.2
else:
    coefficient = 0.4
    
new_salary = salary + salary * coefficient

print(message.format(coef = coefficient, new_salary = new_salary))

Addition is equal 0.2. New salary is 120000.0!

In [71]:
analysts = ['Anatoly', 'Olga', 'Beslan']

In [72]:
for i in analysts:
    print(i)

Anatoly
Olga
Beslan

In [73]:
for analyst in analysts:
    print('Analyst name is {}!'.format(analyst))

Analyst name is Anatoly!
Analyst name is Olga!
Analyst name is Beslan!

In [74]:
for i in analysts:
    if i == 'Anatoly':
        print('Analyst name is {}!'.format(i))

Analyst name is Anatoly!

In [75]:
analysts_data = {'Anatoly': 2, 'Olga': 3, 'Beslan': 4}

In [77]:
analysts_data['Anatoly']

2

In [78]:
analysts_data['Michael'] = 10

In [79]:
analysts_data

{'Anatoly': 2, 'Olga': 3, 'Beslan': 4, 'Michael': 10}

In [80]:
analysts_data = {'Anatoly': [2, 100000], 'Olga': [3, 200000], 'Beslan': [4, 300000]}

In [81]:
analysts_data['Anatoly']

[2, 100000]

In [82]:
analysts_data['Anatoly'][1]

100000

In [83]:
for i in analysts_data:
    print(i)

Anatoly
Olga
Beslan

In [84]:
for i in analysts_data:
    print(i, analysts_data[i])

Anatoly [2, 100000]
Olga [3, 200000]
Beslan [4, 300000]

In [85]:
for i in analysts_data:
    if analysts_data[i][0] > 3:
        print(i)

Beslan

In [87]:
message = 'Analyst name is {name}. Job years is {job_years}. Salary is {salary}'

In [88]:
for i in analysts_data:
    print(message.format(name = i, job_years = analysts_data[i][0], salary = analysts_data[i][1]))

Analyst name is Anatoly. Job years is 2. Salary is 100000
Analyst name is Olga. Job years is 3. Salary is 200000
Analyst name is Beslan. Job years is 4. Salary is 300000