In [1]:
import pandas as pd
import datetime
import vk_api
import os
import requests
import json
import random

%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns
import sys

In [2]:
token = 'смотри_группу_найди_ключ'

In [3]:
vk_session = vk_api.VkApi(token=token)
vk = vk_session.get_api()

In [4]:
vk.messages.send(
    chat_id=2,
    random_id=1,
    message='Hey')

5

In [5]:
df = pd.read_csv('ads_data.csv.zip', compression='zip')

In [6]:
ad_data = df.groupby(['ad_id', 'event'], as_index=False) \
    .agg({'user_id': 'count'})
ad_data.head()

   ad_id  event  user_id
0      3  click        9
1      3   view      490
2   2132  click        1
3   2132   view       95
4   2276  click        2

In [7]:
ad_data = ad_data.pivot(index='ad_id', columns='event', values='user_id').reset_index()
ad_data

event   ad_id  click    view
0           3    9.0   490.0
1        2132    1.0    95.0
2        2276    2.0  1454.0
3        2475    NaN   132.0
4        2643    3.0   286.0
..        ...    ...     ...
350    121941    1.0   640.0
351    121943   15.0  1722.0
352    122042    1.0   155.0
353    122063    1.0   260.0
354    122086   50.0  1999.0

[355 rows x 3 columns]

In [12]:
ad_data = ad_data.fillna(0).assign(ctr=ad_data.click / ad_data.view)

In [16]:
top_ctr = ad_data.query('click > 20 & view > 100').sort_values('ctr').tail(10)
top_ctr

event   ad_id     click       view       ctr
15      12904      32.0      399.0  0.080201
328    120347     236.0     2168.0  0.108856
5        4585      53.0      476.0  0.111345
96      35034     112.0      997.0  0.112337
194     45043      28.0      245.0  0.114286
207     45642      42.0      344.0  0.122093
144     40968      29.0      217.0  0.133641
125     38575      43.0      257.0  0.167315
324    119450     258.0     1254.0  0.205742
289    112583  580436.0  1934788.0  0.300000

In [17]:
top_ctr.to_csv('top_ctr_data.csv', index=False)

In [18]:
path = '/mnt/HC_Volume_18315164/home-jupyter/jupyter-i-kazantseva-40/Lesson7/top_ctr_data.csv'
file_name = 'top_ctr_data.csv'

path_to_file = path
upload_url = vk.docs.getMessagesUploadServer(peer_id=2000000001)["upload_url"]
file = {'file': (file_name, open(path_to_file, 'rb'))}

response = requests.post(upload_url, files=file)

json_data = json.loads(response.text)
json_data

{'file': '-220444244|0|-1|237331|8558ba1b76|csv|403|top_ctr_data.csv|c2f9e346fc49058f43500d24dbf7ae44|7eb7ea9a8404b6adfe042232662d42f9||||eyJkaXNrIjoyOSwicGVlcl9zZW5kZXIiOiItMjIwNDQ0MjQ0In0='}

In [19]:
saved_file = vk.docs.save(file=json_data['file'], title=file_name)

In [20]:
saved_file

{'type': 'doc',
 'doc': {'id': 660185974,
  'owner_id': -220444244,
  'title': 'top_ctr_data.csv',
  'size': 403,
  'ext': 'csv',
  'date': 1683649765,
  'type': 1,
  'url': 'https://vk.com/doc-220444244_660185974?hash=jXOkkRyH6bTrW2OzilRC8kRdjlnvB3ZnTVsD9dOStfs&dl=FUZDEMBUGQ2DENBU:1683649765:vjhzsZQEiZzZ4xyzhZfRitH42yO07guYuKIOTaV89dw&api=1&no_preview=1',
  'is_unsafe': 0}}

In [21]:
attachment = 'doc{}_{}'.format(saved_file['doc']['owner_id'], saved_file['doc']['id'])

In [22]:
attachment

'doc-220444244_660185974'

In [23]:
vk.messages.send(
    chat_id=2,
    random_id=3,
    message='Топ объявлений по CTR', 
    attachment = attachment
)

6

In [24]:
import gspread
from df2gspread import df2gspread as d2g
from oauth2client.service_account import ServiceAccountCredentials

In [44]:
scope = ['https://spreadsheets.google.com/feeds',
         'https://www.googleapis.com/auth/drive']

my_mail = 'anatoly1804@gmail.com'

# Authorization
credentials = ServiceAccountCredentials.from_json_keyfile_name('heroic-venture-268009-1dfbcc34e5fa.json', scope)
gs = gspread.authorize(credentials)

FileNotFoundError: [Errno 2] No such file or directory: 'heroic-venture-268009-1dfbcc34e5fa.json'

In [26]:
# Name of the table in google sheets, 
# can be url for open_by_url
# or id (key) part for open_by_key
table_name = 'to_sequence'  # Your table
# Get this table
work_sheet = gs.open(table_name)

NameError: name 'gs' is not defined

In [27]:
# Select 1st sheet
sheet1 = work_sheet.sheet1

# Get data in python lists format
data = sheet1.get_all_values()

NameError: name 'work_sheet' is not defined

In [28]:
data

NameError: name 'data' is not defined

In [29]:
headers = data.pop(0)

NameError: name 'data' is not defined

In [30]:
df = pd.DataFrame(data, columns=headers)

NameError: name 'data' is not defined

In [31]:
df

,ad_id,time,event,date,ad_cost_type,has_video,client_union_id,campaign_union_id,platform,ad_cost,target_audience_count,user_id
0,23456,1554076848,view,2019-04-01,CPM,0,5681,23456,android,190.0,125560,793
1,111941,1554135866,view,2019-04-01,CPM,0,111793,111941,ios,215.2,32277,1041
2,111941,1554135866,view,2019-04-01,CPM,0,111793,111941,ios,215.2,32277,41
3,42987,1554135866,view,2019-04-01,CPM,0,28541,42985,ios,199.1,80160,898
4,23456,1554135866,view,2019-04-01,CPM,0,5681,23456,web,190.0,125560,29
...,...,...,...,...,...,...,...,...,...,...,...,...
3176709,112583,1554501092,view,2019-04-06,CPM,0,111818,112260,android,199.4,239408,5467
3176710,112583,1554501092,view,2019-04-06,CPM,0,111818,112260,android,199.4,239408,2508
3176711,112583,1554501092,click,2019-04-06,CPM,0,111818,112260,web,199.4,239408,7896
3176712,112583,1554501092,view,2019-04-06,CPM,0,111818,112260,ios,199.4,239408,4319
3176713,112583,1554508770,view,2019-04-06,CPM,0,111818,112260,ios,199.4,239408,8298

In [32]:
df.sort_values('price', ascending=False)

KeyError: 'price'

In [33]:
sheet1.append_row([500, 'group_4'])

NameError: name 'sheet1' is not defined

In [34]:
# Looks like spreadsheet should be already present at the dist (so, run code in create table section)
spreadsheet_name = 'A new spreadsheet'
sheet = 'KarpovCorses2'
d2g.upload(df, spreadsheet_name, sheet, credentials=credentials, row_names=True)

NameError: name 'credentials' is not defined

In [35]:
url = 'https://api-metrika.yandex.net/stat/v1/data?'
visits = 'metrics=ym:s:visits&dimensions=ym:s:date&id=44147844'

In [36]:
vistis_url = url + visits

In [37]:
vistis_request = requests.get(vistis_url)

In [38]:
vistis_request

In [39]:
json_data = json.loads(vistis_request.text)

In [40]:
json_data['data']

[{'dimensions': [{'name': '2023-05-03'}], 'metrics': [587.0]},
 {'dimensions': [{'name': '2023-05-08'}], 'metrics': [498.0]},
 {'dimensions': [{'name': '2023-05-04'}], 'metrics': [487.0]},
 {'dimensions': [{'name': '2023-05-05'}], 'metrics': [374.0]},
 {'dimensions': [{'name': '2023-05-09'}], 'metrics': [362.0]},
 {'dimensions': [{'name': '2023-05-06'}], 'metrics': [277.0]},
 {'dimensions': [{'name': '2023-05-07'}], 'metrics': [271.0]}]

In [41]:
y_df = pd.DataFrame([(i['dimensions'][0]['name'], 
  i['metrics'][0]) for i in json_data['data']], columns=['date', 
                                                        'visits'])

In [42]:
y_df

         date  visits
0  2023-05-03   587.0
1  2023-05-08   498.0
2  2023-05-04   487.0
3  2023-05-05   374.0
4  2023-05-09   362.0
5  2023-05-06   277.0
6  2023-05-07   271.0

In [43]:
spreadsheet_name = 'A new spreadsheet'
sheet = 'Yandex_visits'
d2g.upload(y_df, spreadsheet_name, sheet, credentials=credentials, row_names=True)

NameError: name 'credentials' is not defined

In [ ]:
'''
Замена элементов в зависимости от их значений

Функция np.where() позволяет задать новые значения, основываясь на старых. Она принимает 3 аргумента:

condition — условие, то есть серия со списком True и False. 
x — на что заменить True. 
y — на что заменить False


'''

In [46]:
import numpy as np
a = pd.Series([0,1,2,3,4,5])
np.where(a>2, "Higher than 2", "Lesser than 2")

array(['Lesser than 2', 'Lesser than 2', 'Lesser than 2', 'Higher than 2',
       'Higher than 2', 'Higher than 2'], dtype='<U13')

In [ ]:
'''
Проверка на непропущенные значения

notna — это метод-антоним isna, возвращает True, если значение не NA. 
Альтернативный способ получить такой результат — инвертировать результат применения isna с помощью ~ 
(так во многих языках обозначают not, в логических сериях pandas также).

'''

In [47]:
df.notna()

# Same as previous
~df.isna()

,ad_id,time,event,date,ad_cost_type,has_video,client_union_id,campaign_union_id,platform,ad_cost,target_audience_count,user_id
0,True,True,True,True,True,True,True,True,True,True,True,True
1,True,True,True,True,True,True,True,True,True,True,True,True
2,True,True,True,True,True,True,True,True,True,True,True,True
3,True,True,True,True,True,True,True,True,True,True,True,True
4,True,True,True,True,True,True,True,True,True,True,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...
3176709,True,True,True,True,True,True,True,True,True,True,True,True
3176710,True,True,True,True,True,True,True,True,True,True,True,True
3176711,True,True,True,True,True,True,True,True,True,True,True,True
3176712,True,True,True,True,True,True,True,True,True,True,True,True
3176713,True,True,True,True,True,True,True,True,True,True,True,True

In [ ]:
'''
Работа с ошибками

try и except должны быть вместе вплотную. 
Как это работает: после try ставится : и идёт блок кода, который пытается выполниться. 
Если ему это удаётся, то блок except (тоже с :) пропускается. 
Если же в блоке try произошла ошибка, то вместо прекращения ошибки идёт переход в блок except
и выполняется код, содержащийся там. Далее следует выход из except и программа работает с кодом в скрипте дальше.

Теперь о том, зачем это нужно. 
Не нужно вставлять try, чтобы ваш код не падал с ошибками, и радоваться. 
Это специальный инструмент для работы с чувствительными местами, где может произойти ошибка, 
и где вам нужно действовать разными способами в случаях успешной работы блока или ошибки.

'''

In [48]:
expenditures = 0
income = 100

try:
    ratio = income / expenditures
except:
    print('Something went wrong, mb expenditures are 0?')

Something went wrong, mb expenditures are 0?

In [ ]:
'''
>>> f = open('1.txt')
>>> ints = []
>>> try:
...     for line in f:
...         ints.append(int(line))
... except ValueError:
...     print('Это не число. Выходим.')
... except Exception:
...     print('Это что ещё такое?')
... else:
...     print('Всё хорошо.')
... finally:
...     f.close()
...     print('Я закрыл файл.')
...     # Именно в таком порядке: try, группа except, затем else, и только потом finally.

Finally выполняет блок инструкций в любом случае, было ли исключение, или нет 
(применима, когда нужно непременно что-то сделать, к примеру, закрыть файл). 
Инструкция else выполняется в том случае, если исключения не было.

'''

In [ ]:
'''
Иногда необходимо выяснить агрегированное значение серии — все ли там значения True, 
или есть ли хотя бы один True среди них. Для этого используются специальные методы.


df.all() - Все ли значения в серии True? Аналогично использованию and между всеми значениями:

df.any() - Есть ли в серии хотя бы одно значение True? Аналогично использованию or между всеми значениями:
'''

In [49]:
# returns number from [a, b]
random.randint(a, b)

#  Alias for randrange(a, b+1)

NameError: name 'b' is not defined

In [ ]:
'''
random.choice(seq)
Return a random element from the non-empty sequence seq. If seq is empty, raises IndexError.

random.shuffle(x)
Shuffle the sequence x in place.

random.sample(population, k, *, counts=None)
Return a k length list of unique elements chosen from the population sequence. Used for random sampling without replacement.

'''

In [ ]:
'''
VK:

Подготовка автоматизации:

Создать группу
В управлении группой зайти в Работу с API
Создать ключ
Зайти в раздел Сообщения
Выбрать Сообщения Сообщества: Включены
Зайти в группу
Выбрать разрешить сообщения (находится в Ещё; если там стоит Запретить сообщения, то всё в порядке)
В меню пригласить группу в чат, нажав Добавить в беседу
Если вам не помогли предыдущие пункты, то вот альтернативный способ:

Создать группу
В управлении группой зайти в Работу с API
Создать ключ
Зайти в раздел Сообщения
Выбрать Сообщения Сообщества: Включены
Зайти в группу
Выбрать разрешить сообщения (находится в Ещё, если там стоит Запретить сообщения, то всё в порядке)
Зайти в управление
Выбрать беседы
Создать беседу
Нажать на неё
Нажать присоединиться


Заменив chat_id=chat_id на user_id=my_id, можно отправлять сообщения себе. Только поставьте в my_id свой id)

'''

In [ ]:
# Подготовка

import vk_api

# Token which you obtained via vk
app_token = 'your private token'

# id of the 1st chat
chat_id = 1

# id of my user-receiver
my_id = 148915653

# Initialize session
vk_session = vk_api.VkApi(token=app_token)

# Make it possible to use vk api methods as python methods
vk = vk_session.get_api()

In [ ]:
# Отправка сообщений

vk.messages.send(
    chat_id=chat_id,
    random_id=random.randint(1, 2 ** 31),
    message='Это я, Почтальон Печкин!')

In [ ]:
# Отправка документов

# Specify path to the file and its future name in the message
path_to_file = '/home/arleg/Downloads/Telegram Desktop/corr_plot.pdf'
file_name = 'plot.pdf'

upload_url = vk.docs.getMessagesUploadServer(peer_id=my_id)["upload_url"]
file = {'file': (file_name, open(path_to_file, 'rb'))}

# Send request to post this doc on vk.com
response = requests.post(upload_url, files=file)

json_data = json.loads(response.text)

saved_file = vk.docs.save(file=json_data['file'], title=file_name)
attachment = 'doc{}_{}'.format(saved_file['doc']['owner_id'], saved_file['doc']['id'])

vk.messages.send(
    chat_id=chat_id,  # id of chat where to send
    random_id=random.randint(1, 2 ** 31),  # random number for message identification
    message='Привёз посылку для вашего мальчика!',  # message text, optional here
    attachment=attachment)  # attachment name

In [ ]:
# testname@-------gserviceaccount.com - client email

In [51]:
import gspread
from oauth2client.service_account import ServiceAccountCredentials


# Specify path to your file with credentials
path_to_credential = 'файл.json' 

# Specify name of table in google sheets
table_name = 'APItest'

scope = ['https://spreadsheets.google.com/feeds',
         'https://www.googleapis.com/auth/drive']

credentials = ServiceAccountCredentials.from_json_keyfile_name(path_to_credential, scope)

gs = gspread.authorize(credentials)
work_sheet = gs.open(table_name)

# Select 1st sheet
sheet1 = work_sheet.sheet1

# Get data in python lists format
data = sheet1.get_all_values()

# Get header from data
headers = data.pop(0)

# Create df
df = pd.DataFrame(data, columns=headers)
df.head()

FileNotFoundError: [Errno 2] No such file or directory: 'файл.json'

In [ ]:
# Работа с гугл документами

# Подготовка

import pandas as pd
import gspread
from df2gspread import df2gspread as d2g
from oauth2client.service_account import ServiceAccountCredentials

scope = ['https://spreadsheets.google.com/feeds',
         'https://www.googleapis.com/auth/drive']

my_mail = 'your@mail'
path_to_credentials = 'crdentials.json'

# Authorization
credentials = ServiceAccountCredentials.from_json_keyfile_name(path_to_credentials, scope)
gs = gspread.authorize(credentials)

In [ ]:
# Загрузка таблицы из гугл доков - 

# При считывании таблицы должен быть доступ к ней, например, 
# при считывании по ссылке (url) с помощью функции open_by_url нужно настроить права доступа на данную таблицу.

# Name of the table in google sheets,
# can be url for open_by_url
# or id (key) part for open_by_key
table_name = 'table name'  # Your table

# Get this table
work_sheet = gs.open(table_name)

# Select 1st sheet
sheet1 = work_sheet.sheet1

# Get data in python lists format
data = sheet1.get_all_values()

# Get header from data
headers = data.pop(0)

# Create df
df = pd.DataFrame(data, columns=headers)
df.head()

In [ ]:
# Создание своей таблицы

# Create empty table
table_name = 'A new spreadsheet'
sheet = gs.create(table_name)

# Make it visible to other guys
sheet.share(my_mail, perm_type='user', role='writer')

In [ ]:
# Экспорт датафрэйма в гугл доки

# Create your df
df = ...

# Looks like spreadsheet should be already present at the dist (so, run code in create table section)
sheet_name = 'Master'
d2g.upload(df, table_name, sheet_name, credentials=credentials, row_names=True)

# При этом необходимо, чтобы в df не было повторяющихся индексов (reset_index)

# Чтобы получить ссылку на гугл документ, воспользуйтесь следующим кодом
# где sheet — результат gs.create(table_name)

spreadsheet_url = "https://docs.google.com/spreadsheets/d/%s" % sheet.id

In [ ]:
import json

# Convert json to python dict
json_data = json.loads(some_json)
'''
Библиотека для работы с json'ом — одним из самых распространённых форматов данных в вэбе. 
Он используется для пересылки данных между веб-сервисами, и очень похож на словари в python. 
Одноимённая библиотека json используется для его преобразования в действительно питоновский словарь.'''

In [ ]:
import requests

query = requests.get(url)
'''
Библиотека requests позволяет взаимодействовать с сайтами. 
Метод get() принимает ссылку на сайт в виде строки, и возвращает объект, содержащий ответ с сайта в виде строки:
'''

In [ ]:
# Если вам не нравится вручную делать ссылки-запросы для Яндекс.Метрики, есть решение:

from urllib.parse import urlencode

# Base path to service
base_url = 'https://api-metrika.yandex.net/stat/v1/data?'

# Parameters of query
params = {'metrics': 'ym:s:visits',
          'dimensions': 'ym:s:date',
          'id': '44147844'}

visits_url = base_url + urlencode(params)
visits_url
'https://api-metrika.yandex.net/stat/v1/data?metrics=ym%3As%3Avisits&dimensions=ym%3As%3Adate&id=44147844'

# произведено дополнительное экранирование символов. Далее её можно точно так же использовать в requests.get

In [ ]:
# Чтобы закодировать несколько значений параметра с одним именем, 
# просто передайте в словарь вместо значения к нужному параметру список из них, и укажите параметр doseq=True

# Base path to service
base_url = 'https://api-metrika.yandex.net/stat/v1/data?'

# Parameters of query
params = {'metrics': 'ym:s:visits',
          'dimensions': ['ym:s:date', 'ym:s:isRobot'],
          'id': '44147844'}
                
visits_url = base_url + urlencode(params, doseq=True)
visits_url
'https://api-metrika.yandex.net/stat/v1/data?metrics=ym%3As%3Avisits&dimensions=ym%3As%3Adate&dimensions=ym%3As%3AisRobot&id=44147844'

In [ ]:
'''
Параметры requests.get
Всё можно сделать еще короче — достаточно запихнуть словарь с параметрами в params внутри requests.get'''

requests.get(base_url,
             params={
             'metrics': 'ym:s:visits',
             'dimensions': ['ym:s:date', 'ym:s:isRobot'],
             'id': 44147844
             })


# Этот код делает то же самое, что предварительное конструирование ссылки и requests.get на ней.

In [ ]:
# Yandex metrica

import pandas as pd
import requests
import json

# Base url to service
url = 'https://api-metrika.yandex.net/stat/v1/data?'

# &-separated parameters of query in a form of name=value, taken from the metrica site
visits = 'metrics=ym:s:visits&dimensions=ym:s:date&id=44147844'
url = url + visits

# Get json of response
query = requests.get(url)
json_data = json.loads(query.text)

# Conversion of obtained json to dataframe
visits_data = pd.DataFrame([(
                             i['dimensions'][0]['name'],
                             i['metrics'][0]) for i in json_data['data']], 
                           columns=['date', 'visits'])

In [ ]:
'''
Telegram

Получение токена

Чтобы автоматизировать работу в телеграме необходимо создать бота и получить токен. Для этого:

В телеграме найдите @Botfather
Нажмите start (или напишите /start) в диалоговом окне — появится сообщение с информацией о создании ботов
Отправьте ему сообщение /newbot
Введите имя для бота
Введите username бота, он должен заканчиваться на bot
Появится сообщение, содержащее токен
'''

In [ ]:
'''
Диалог с ботом

Воспользуйтесь username бота (или ссылкой на него), полученным от Botfather, 
начните диалог и отправьте ему что-нибудь. Затем введите в браузере ссылку вида

https://api.telegram.org/bot{token}/getUpdates

ФИГУРНЫЕ СКОБКИ УБРАТЬ!!!


Где вместо <token> будет ваш токен.

В открывшемся окне вы увидите содержание json файла, где будет содержаться id чата (result > 0 > chat > id). Сохраните его.

После этого через бота можно посылать сообщения вам с помощью модуля request. Чтобы отправлять сообщения кому-нибудь другому, 
попросите его начать диалог с ботом, и повторите операцию с просмотром страницы, чтобы выяснить id чата.'''

In [ ]:
# Отправка сообщений

import requests
import json
from urllib.parse import urlencode


token = 'your_token'
chat_id = 123  # your chat id

message = 'test'  # text which you want to send

params = {'chat_id': chat_id, 'text': message}

base_url = f'https://api.telegram.org/bot{token}/'
url = base_url + 'sendMessage?' + urlencode(params)
# Only if you need it
# proxy = {'https': 'https://77.48.23.199:57842'}

# To send request via proxy
# resp = requests.get(url, proxies=proxy)
resp = requests.get(url)

In [ ]:
# Отправка документов

# Path to necessary file
filepath = 'your_path'

url = base_url + 'sendDocument?' + urlencode(params)

files = {'document': open(filepath, 'rb')}

# If you need proxy
# resp = requests.get(url, files=files, proxies=proxy)
resp = requests.get(url, files=files)