In [1]:
source = 'https://docs.google.com/spreadsheets/d/1e3PRXmMNXo9AZZnaol1aHgYxtH6KYaCDymEQlK6jaO8/export?format=csv'

In [2]:
import pandas as pd
import datetime
import vk_api
import os
import requests
import json
import random

%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns
import sys

In [3]:
from io import BytesIO
import requests


req = requests.get(source)
data = req.content

df = pd.read_csv(BytesIO(data))

In [4]:
df.head()

         date         gender  users
0  2020-06-14  Not specified    150
1  2020-06-14           male    117
2  2020-06-14         female     21

In [5]:
df.users.sum()

288

In [8]:
round((117/288)*100, 0)

41.0

In [9]:
df  = pd.read_csv('7_browser.csv')

In [10]:
df.head()

         date         browser user_type  users
0  2020-06-14   Google Chrome    People    139
1  2020-06-14   Chrome Mobile    People     35
2  2020-06-14   Google Chrome    Robots     28
3  2020-06-14  Yandex Browser    People     22
4  2020-06-14         Firefox    People     15

In [12]:
df.user_type.values

array(['People', 'People', 'Robots', 'People', 'People', 'People',
       'Robots', 'People', 'People', 'People', 'People', 'Robots',
       'Robots', 'Robots', 'Robots', 'People', 'People', 'Robots',
       'Robots', 'Robots', 'People', 'Robots', 'People', 'People'],
      dtype=object)

In [26]:
import numpy as np

chrome_robots = pd.Series(np.where(df.browser.str.contains('Chrome') & df.user_type.str.contains('Robot'), 1, 0))

In [27]:
chrome_robots

0     0
1     0
2     1
3     0
4     0
5     0
6     0
7     0
8     0
9     0
10    0
11    0
12    0
13    0
14    0
15    0
16    0
17    0
18    0
19    1
20    0
21    0
22    0
23    0
dtype: int64

In [41]:
df  = pd.read_csv('sample_ads.csv')

In [42]:
df.shape

(18, 3)

In [43]:
df.head()

   ad_id user_id click_type
0  12345   qwert        top
1  12345   fsssc     center
2  12345   vfvgg        NaN
3  12345   asrvv        NaN
4  12345   tynuy        top

In [44]:
df_not_nan_count = df.notna()

In [45]:
df_not_nan_count.shape

(18, 3)

In [46]:
df_not_nan_count = df_not_nan_count.query('click_type == True')

In [47]:
df_not_nan_count.shape

(11, 3)

In [48]:
not_nan_count = df_not_nan_count.click_type.count()

In [49]:
not_nan_count

11

In [ ]:
'''
df_not_nan_count = df.notna().query('click_type == True')
not_nan_count = df_not_nan_count.click_type.count()
'''

In [55]:
list = [1,2,'!',4,5]
new_list = []
for i in list:
    try:
        i = int(i)
        new_list.append(i)
    except:
        continue

In [56]:
new_list

[1, 2, 4, 5]